/* COMMON STUFF */

body {
    background-color: #FFFFFF;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

body, td, th {
    color: #333333;
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 11px;
}

img { border: none; }

ul { list-style: square; }



/* HEADINGS */

.heading1 {
    color: Black;
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.heading1 a:link {
    color: Black;
    text-decoration: none;
}

.heading1 a:visited {
    color: Black;
    text-decoration: none;
}

.heading1 a:hover {
    border-bottom: 5px solid #e9e9e9;
    color: Black;
    text-decoration: none;
}

.heading2 {
    color: Black;
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.heading3 {
    color: Black;
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.heading4 {
    color: Black;
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.heading5 {
    color: Black;
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}




/* LINKS */

a:link {
    color: #5d6b70;
    text-decoration: none;
}

a:visited {
    color: #5d6b70;
    text-decoration: none;
}

a:hover {
    color: Black;
    text-decoration: underline;
}




/* TABLES */

table { border-collapse: collapse; }

table, th, td { border: 1px solid black; }

th, td { padding: 5px; }

th {
    background-color: lightgrey;
    text-align: left;
}


/* MISC STYLES */

.Code {
    background-color: #C1C1C1;
    color: #000000;
    font-family: 'Courier New', Monospace;
    padding-left: 5px;
    padding-right: 5px;
}

.monospace {
    font-family: 'Courier New', monospace;
    white-space: nowrap;
}

.nowrap { white-space: nowrap }