---
title: Download
permalink: /download
---
<style>
    .glyphicon.spinner {
        /*-webkit-animation: glyphicon-spin-r 1s infinite linear;*/
        animation: glyphicon-spin 1s infinite linear;
    }
    @keyframes glyphicon-spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(359deg);
        }
    }
</style>
<script>
    $(document).ready(function() {
        $.ajax({
            'url': 'https://api.github.com/repos/mRemoteNG/mRemoteNG/releases/latest',
            'dataType': 'json',
            'success': function(data, textStatus, jqXHR) {
                $('#loadingAlert').addClass('hidden');
                $('#latestRelease [data-version]').text(data.tag_name);
                $('#latestRelease [data-timestamp]').text(new Date(data.created_at).toDateString());
                $.grep(data.assets, function(element, index) {
                    if (element.content_type == 'application/x-msdownload') {
                        $('#latestRelease [data-msi]').attr('href', element.browser_download_url)
                        .attr('data-original-title', (element.size / 1048576).toFixed(2) + ' MiB')
                        .removeClass('hidden');
                    }
                    if (element.content_type == 'application/x-zip-compressed') {
                        $('#latestRelease [data-zip]').attr('href', element.browser_download_url)
                        .attr('data-original-title', (element.size / 1048576).toFixed(2) + ' MiB')
                        .removeClass('hidden');
                    }
                });
            }, 'error': function(jqXHR, textStatus, errorThrow) {
                $('#loadingAlert').addClass('hidden');
                console.error(errorThrow);
            }
        });
        $('[data-toggle="tooltip"]').tooltip({
            'container': 'body'
        });
    });
</script>
{% for release in site.github.releases %}
    {% if release.draft == false and release.prerelease == false and stableRelease == nil %}
        {% assign stableRelease = release %}
    {% endif %}
    {% if release.draft == false and release.prerelease == true and preRelease == nil %}
        {% assign preRelease = release %}
    {% endif %}
{% endfor %}
<div class='row well text-center'>
    <div class='col-md-6'>
        <h2>Stable <small>{{ stableRelease.tag_name }}</small></h2>
        <h4>{{ stableRelease.published_at | date: '%a, %b %d, %Y' }}</h4>
        <div>
        {% for asset in stableRelease.assets %}
        {% if asset.state == 'uploaded' %}
        <a href='{{ asset.browser_download_url }}' class='btn btn-success' data-toggle='tooltip' data-placement='bottom' title='{{ asset.size | divided_by: 1048576.0 | round: 2 }} MiB'>
            {% if asset.content_type == 'application/x-msdownload' %}MSI{% elsif asset.content_type == 'application/x-zip-compressed' %}ZIP{% endif %}
        </a>
        {% endif %}
        {% endfor %}
        </div>
        <a href='{{ stableRelease.html_url }}'>Changelog</a>
    </div>
    <div class='col-md-6'>
        <h2>Prerelease <small>{{ preRelease.tag_name }}</small></h2>
        <h4>{{ preRelease.published_at | date: '%a, %b %d, %Y' }}</h4>
        <div>
        {% for asset in preRelease.assets %}
        {% if asset.state == 'uploaded' %}
        <a href='{{ asset.browser_download_url }}' class='btn btn-warning' data-toggle='tooltip' data-placement='bottom' title='{{ asset.size | divided_by: 1048576.0 | round: 2 }} MiB'>
            {% if asset.content_type == 'application/x-msdownload' %}MSI{% elsif asset.content_type == 'application/x-zip-compressed' %}ZIP{% endif %}
        </a>
        {% endif %}
        {% endfor %}
        </div>
        <a href='{{ preRelease.html_url }}'>Changelog</a>
    </div>
</div>
<p>You can view all releases (including pre-releases) by going <a href='{{ site.github.releases_url }}'>here</a></p>
<p>View installation requirements at the <a href='{{ site.repo }}/wiki/Prerequisites'>Wiki</a></p>
<h2>Languages</h2>
<ul class='list-inline'>
    <li>English</li>
    <li>中文</li>
    <li>Nederlands</li>
    <li>Français</li>
    <li>Deutsch</li>
    <li>Ελληνικά</li>
    <li>Magyar</li>
    <li>Italiano</li>
    <li>Norsk</li>
    <li>Polski</li>
    <li>Português</li>
    <li>Русский</li>
    <li>Español</li>
    <li>Українська</li>
</ul>
