<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <?include $(sys.CURRENTDIR)Includes\Config.wxi?>
	<Fragment>
      <StandardDirectory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLDIR" Name="$(var.ProductName)" />
      </StandardDirectory>

      <StandardDirectory Id="DesktopFolder" />

      <StandardDirectory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.ProductName)" />
      </StandardDirectory>
    </Fragment>
</Wix>