<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <?include $(sys.CURRENTDIR)Includes\Config.wxi?>
	<Fragment>
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="INSTALLDIR" Name="$(var.ProductName)">
        </Directory>
      </Directory>

      <StandardDirectory Id="DesktopFolder" />

      <StandardDirectory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.ProductName)" />
      </StandardDirectory>
    </Fragment>
</Wix>