<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLDIR">
            <Directory Id="dir82972532CA27BEF6B972C3A142E19BC1" Name="cs-CZ" />
            <Directory Id="dirF7A62AAB979B938D6BCEC1392A589DA5" Name="de" />
            <Directory Id="dir62078C356EA332979A99724C7722A56A" Name="el" />
            <Directory Id="dir577231E2EF642DDF4B09B65F4BEE3BE2" Name="es" />
            <Directory Id="dir4D0A9F0DBDF1EE024E030F9E3B94104C" Name="es-AR" />
            <Directory Id="dirCAD1E83BD4CE375ABDB8F38597B3725B" Name="fi-FI" />
            <Directory Id="dir0B7D401DE3233449E75F31A823BF5B99" Name="fr" />
            <Directory Id="dir09632C6D20BFA94E2A24ED0E6D9B2C41" Name="hu" />
            <Directory Id="dir5E6DA158F27D9CA2AB915EC6AB53B383" Name="Icons" />
            <Directory Id="dirB5B71807E9474A6ED7A421DAF6D9317F" Name="it" />
            <Directory Id="dir236726D31B8846E56F94A60B4BDA0D5D" Name="ja-JP" />
            <Directory Id="dir84F2A679A7F20EDA03A198E92F9399E3" Name="ko-KR" />
            <Directory Id="dir5D4FF3A14A3EA47FCD6D9414E469A244" Name="lt" />
            <Directory Id="dir54E7E449F697FA31B946B0D847BC12FC" Name="nb-NO" />
            <Directory Id="dirAD9F3749BDE51B9EA3E808CC39488A46" Name="nl" />
            <Directory Id="dir42A5D57151A6A3E9D965C69C82893176" Name="pl" />
            <Directory Id="dirC5F627279ECABE21145A844571EF9F74" Name="pt" />
            <Directory Id="dir3CF6B6BC48181D29C167EF5DB7F05816" Name="pt-BR" />
            <Directory Id="dirF7C0BEA86C276F53E8C9E8E6B2629A9B" Name="ru" />
            <Directory Id="dirB699B779DD859CB7CAD46DA4BC9017C0" Name="runtimes" />
            <Directory Id="dir54B0732D1EC7055747BB11A9069B5872" Name="Schemas" />
            <Directory Id="dir861F6A02C2F7A7DA6955E64037179011" Name="sv-SE" />
            <Directory Id="dir449D12A97ECE34898DFE89F1087779C9" Name="Themes" />
            <Directory Id="dirF50F8AE1B4079411641D2CA28D569A6E" Name="tr-TR" />
            <Directory Id="dir09CC4E618379FE7D9EB8E064B61C997C" Name="uk" />
            <Directory Id="dir7615CEE1531630E53F5B99A187D27DF9" Name="zh-CN" />
            <Directory Id="dir8B12BA0D447ED118A459E1723FCB6A85" Name="zh-TW" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="MandatoryComponents">
            <Component Id="cmp0FFDB5713D4361B40AD821F8DA4DEE0B" Directory="INSTALLDIR" Guid="*">
                <File Id="fil476630E8F9CF75F8A90F5A6BE104F314" KeyPath="yes" Source="$(var.HarvestPath)\AWSSDK.Core.dll" />
            </Component>
            <Component Id="cmpEB77DBE680AF298F880635C9CE9E4C0F" Directory="INSTALLDIR" Guid="*">
                <File Id="fil27E42615D840C88A58DA9387A7D8E8C5" KeyPath="yes" Source="$(var.HarvestPath)\AWSSDK.EC2.dll" />
            </Component>
            <Component Id="cmp35D96EA44AD8354ED2F995D3EBCCE1A7" Directory="INSTALLDIR" Guid="*">
                <File Id="fil19AFB7CDBA1EEFE8FFFF6028483B5EC8" KeyPath="yes" Source="$(var.HarvestPath)\AxInterop.MSTSCLib.dll" />
            </Component>
            <Component Id="cmp68D767AEEE842A722AECA2C65D34BE2E" Directory="INSTALLDIR" Guid="*">
                <File Id="filCC34B59260E76EC7532DD3E23A541355" KeyPath="yes" Source="$(var.HarvestPath)\BouncyCastle.Crypto.dll" />
            </Component>
            <Component Id="cmp9A3B2D379B0CE7EDEFF2F82ABE850DF3" Directory="INSTALLDIR" Guid="*">
                <File Id="fil87F50FF5306E148144A953F7C1056119" KeyPath="yes" Source="$(var.HarvestPath)\Castle.Core.dll" />
            </Component>
            <Component Id="cmp9F9E216FB087423D125BF6F2160EA82B" Directory="INSTALLDIR" Guid="*">
                <File Id="fil38784B62B92BF5A8474A2B08BB4511AF" KeyPath="yes" Source="$(var.HarvestPath)\comerr64.dll" />
            </Component>
            <Component Id="cmpADE94032AA8563E1E37003C8AB2D8F7E" Directory="INSTALLDIR" Guid="*">
                <File Id="fil6BA5B21301D77ADAE00F1DA02BFE8584" KeyPath="yes" Source="$(var.HarvestPath)\ConsoleControl.dll" />
            </Component>
            <Component Id="cmpCD880D9D0A268B608165CA720A505323" Directory="INSTALLDIR" Guid="*">
                <File Id="fil2D3E8B5BFE62A4776A87A75AD6DD50EA" KeyPath="yes" Source="$(var.HarvestPath)\ConsoleControlAPI.dll" />
            </Component>
            <Component Id="cmpB33DF036D353C8FDD69458B2FE71E10B" Directory="INSTALLDIR" Guid="*">
                <File Id="filDE15699EEB9D455A194CFECACB2D34CA" KeyPath="yes" Source="$(var.HarvestPath)\Cucumber.Messages.dll" />
            </Component>
            <Component Id="cmpD846FD49FC176CEFBA3E8411896C6DEE" Directory="INSTALLDIR" Guid="*">
                <File Id="fil86AC9D6CDBC2AE2AADFE752F1AD83685" KeyPath="yes" Source="$(var.HarvestPath)\ExternalConnectors.dll" />
            </Component>
            <Component Id="cmp0E22CC4281F53936AB57E54775E94F4C" Directory="INSTALLDIR" Guid="*">
                <File Id="filEA870C5699E25304BC08ED0EFD930BC6" KeyPath="yes" Source="$(var.HarvestPath)\ExternalConnectors.pdb" />
            </Component>
            <Component Id="cmp19EC39A721B3368567C267C98B3A70BF" Directory="INSTALLDIR" Guid="*">
                <File Id="filF4F0A4E8F055AEBFE89D956290E642D9" KeyPath="yes" Source="$(var.HarvestPath)\Google.Protobuf.dll" />
            </Component>
            <Component Id="cmpAD73BE185387B3F278017F5AE4F0EBF3" Directory="INSTALLDIR" Guid="*">
                <File Id="fil14E9D904063D2BAFA70FD6B7073FD008" KeyPath="yes" Source="$(var.HarvestPath)\gssapi64.dll" />
            </Component>
            <Component Id="cmp3B87E05C275CE85388D030CC01BF1E20" Directory="INSTALLDIR" Guid="*">
                <File Id="fil3FCEFF3CAE083B7927D5D4E4B0218A88" KeyPath="yes" Source="$(var.HarvestPath)\Interop.MSTSCLib.dll" />
            </Component>
            <Component Id="cmp3704AF810B8B1ADEB2C20918E40DA29E" Directory="INSTALLDIR" Guid="*">
                <File Id="filD1D4DD2035A15DD71B833418EA523091" KeyPath="yes" Source="$(var.HarvestPath)\K4os.Compression.LZ4.dll" />
            </Component>
            <Component Id="cmpE98E07B7C155CF0BFA0E0961247C7F5D" Directory="INSTALLDIR" Guid="*">
                <File Id="filA177E40950ED3A37831193753E1C42CC" KeyPath="yes" Source="$(var.HarvestPath)\K4os.Compression.LZ4.Streams.dll" />
            </Component>
            <Component Id="cmp9F2B7587D0DBBAE60FACF8282508F693" Directory="INSTALLDIR" Guid="*">
                <File Id="fil7A31D991E2C50622F9B19BE8FF45FCF0" KeyPath="yes" Source="$(var.HarvestPath)\K4os.Hash.xxHash.dll" />
            </Component>
            <Component Id="cmp3DEAB024371C408DF9D7FC1274163400" Directory="INSTALLDIR" Guid="*">
                <File Id="fil0A62857EE4D202DC5BFF90C099E52743" KeyPath="yes" Source="$(var.HarvestPath)\k5sprt64.dll" />
            </Component>
            <Component Id="cmpE874DBD4A90E93FF29E891E406E91B6E" Directory="INSTALLDIR" Guid="*">
                <File Id="filF722A3D3275D2F59D0BEA98064F8F5A6" KeyPath="yes" Source="$(var.HarvestPath)\krb5_64.dll" />
            </Component>
            <Component Id="cmp30C9CA804C4E97992E830C00639DD3B4" Directory="INSTALLDIR" Guid="*">
                <File Id="filEC0009EDDFED7DE5316A6096F885D827" KeyPath="yes" Source="$(var.HarvestPath)\krbcc64.dll" />
            </Component>
            <Component Id="cmp375F226751B298CD70903C1646985757" Directory="INSTALLDIR" Guid="*">
                <File Id="filBF38EEDD7B5695007E9582D7EF347826" KeyPath="yes" Source="$(var.HarvestPath)\log4net.config" />
            </Component>
            <Component Id="cmp13D6573EA8CF3F99F44BAE837E2771F0" Directory="INSTALLDIR" Guid="*">
                <File Id="fil2991F53D601CDF7142D0A9E1B42E116E" KeyPath="yes" Source="$(var.HarvestPath)\log4net.dll" />
            </Component>
            <Component Id="cmp104087D18B25A9A8D2ECC5B6EA2AE79B" Directory="INSTALLDIR" Guid="*">
                <File Id="fil5282108DD54B6C7D192C3E9D001FD4E7" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Web.WebView2.Core.dll" />
            </Component>
            <Component Id="cmp3ED4B6E14797367C1383E408A6961B85" Directory="INSTALLDIR" Guid="*">
                <File Id="filBEB43BF024BDDFB47075A1E970FB51F2" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Web.WebView2.WinForms.dll" />
            </Component>
            <Component Id="cmp6EED7245C933A23BDE5CBE3B4DD32858" Directory="INSTALLDIR" Guid="*">
                <File Id="fil157A3D211984A88620C183E777A80E6C" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Web.WebView2.Wpf.dll" />
            </Component>
            <Component Id="cmpAA801C084F6074A3F380F86C71142C44" Directory="INSTALLDIR" Guid="*">
                <File Id="filD7BF4BDC6E57D15C664FD37713919D21" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Win32.SystemEvents.dll" />
            </Component>
            <Component Id="cmpD50AAEBA16B0EDC9604A98ACE658A845" Directory="INSTALLDIR" Guid="*">
                <File Id="filCEEBBF9C2BEC45096E1C078FBEA81F7D" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.WindowsAPICodePack.dll" />
            </Component>
            <Component Id="cmp22F8D282DB59EF9E4E43C92C5C180A12" Directory="INSTALLDIR" Guid="*">
                <File Id="fil5512F1826793049537DA79C9E3A80EEF" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.WindowsAPICodePack.Shell.dll" />
            </Component>
            <Component Id="cmp6107C12C2A55CB8E7E97FF2C9A33F385" Directory="INSTALLDIR" Guid="*">
                <File Id="fil135F9AEEB4A74E1EE438100986E97C41" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Xaml.Behaviors.dll" />
            </Component>
            <Component Id="cmp41D33384103998013724F7507BE537A3" Directory="INSTALLDIR" Guid="*">
                <File Id="filD409F3953DFE64FEE2FDC4460BD98297" KeyPath="yes" Source="$(var.HarvestPath)\mRemoteNG.deps.json" />
            </Component>
            <Component Id="cmpFF3B070182BDDDE8AACCA3CF800537A7" Directory="INSTALLDIR" Guid="*">
                <File Id="fil071813CC6E65500817D01BDDD73D2B1F" KeyPath="yes" Source="$(var.HarvestPath)\mRemoteNG.dll" />
            </Component>
            <Component Id="cmpC77C2640528674DBBCF20ADD1500C112" Directory="INSTALLDIR" Guid="*">
                <File Id="filAC4D49028FDDA1626E5B006C9D1ED57E" KeyPath="yes" Source="$(var.HarvestPath)\mRemoteNG.dll.config" />
            </Component>
            
            <Component Id="cmp67313C6B4CE3487E9A8165EFFE369D16" Directory="INSTALLDIR" Guid="*">
                <File Id="fil5F0524AF62166FF3C4DAE07F1113C0D9" KeyPath="yes" Source="$(var.HarvestPath)\mRemoteNG.pdb" />
            </Component>
            <Component Id="cmp9FF194CCD09E9797444CF95F7C37C75A" Directory="INSTALLDIR" Guid="*">
                <File Id="fil09655B2FCDF14CBBA2E03BBD3F6C58EE" KeyPath="yes" Source="$(var.HarvestPath)\mRemoteNG.runtimeconfig.json" />
            </Component>
            
            <Component Id="cmp1D9B3E298A697AB163089035161BFA1D" Directory="INSTALLDIR" Guid="*">
                <File Id="fil895DC5B7ACBE0A8A9EE74F34EAD5B5AA" KeyPath="yes" Source="$(var.HarvestPath)\MySql.Data.dll" />
            </Component>
            <Component Id="cmp1874AB219070404EED322213C6A1A49E" Directory="INSTALLDIR" Guid="*">
                <File Id="fil05FF769999D602AD4FA6A489C44ED290" KeyPath="yes" Source="$(var.HarvestPath)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmp2C1BBE07A32C31BCF92912D601AD4864" Directory="INSTALLDIR" Guid="*">
                <File Id="fil357AF76EEBAC3CE454CB549E0C337C8A" KeyPath="yes" Source="$(var.HarvestPath)\ObjectListView.dll" />
            </Component>
            
            <Component Id="cmp8EFDE1F21B7D56B957F262CC057CB4BA" Directory="INSTALLDIR" Guid="*">
                <File Id="fil56FF3B20B7AFB789C5CF4AA13D753C36" KeyPath="yes" Source="$(var.HarvestPath)\Renci.SshNet.Async.dll" />
            </Component>
            <Component Id="cmpEDFC52653A3A4D5C80AB3A0B7CE9AE35" Directory="INSTALLDIR" Guid="*">
                <File Id="fil9C1ED4726B58F1CD4C25AF29BDBE0F77" KeyPath="yes" Source="$(var.HarvestPath)\Renci.SshNet.dll" />
            </Component>
            <Component Id="cmp86BC7A1A19AA01D570750A0992995A12" Directory="INSTALLDIR" Guid="*">
                <File Id="filC7FA6D9F2C5BE416FAB770BEA6E290B3" KeyPath="yes" Source="$(var.HarvestPath)\SshNet.Security.Cryptography.dll" />
            </Component>
            <Component Id="cmp9FE179B5698B8FE808D67A42A2301631" Directory="INSTALLDIR" Guid="*">
                <File Id="fil3A0AC17A20B9686E9132DFD2A8E6AD85" KeyPath="yes" Source="$(var.HarvestPath)\System.CodeDom.dll" />
            </Component>
            <Component Id="cmp5675881D66BF7DE0E0A868739AD7F946" Directory="INSTALLDIR" Guid="*">
                <File Id="filDA785AFF57F9E7A7BD773E100D9E6FBA" KeyPath="yes" Source="$(var.HarvestPath)\System.Data.SqlClient.dll" />
            </Component>
            <Component Id="cmp9C60459D2AEE6648758E381D83CB227A" Directory="INSTALLDIR" Guid="*">
                <File Id="filA8B30A0CCAFA3326C53E5E336302E208" KeyPath="yes" Source="$(var.HarvestPath)\System.DirectoryServices.dll" />
            </Component>
            <Component Id="cmp03637CBBBBBBDE7AD30868DD3BE68B72" Directory="INSTALLDIR" Guid="*">
                <File Id="filAA085C60B5E18E998DD62FB27E2F7F5F" KeyPath="yes" Source="$(var.HarvestPath)\System.Drawing.Common.dll" />
            </Component>
            <Component Id="cmp4987A12F91B834B985ADB612F38026B0" Directory="INSTALLDIR" Guid="*">
                <File Id="fil4F83F13F1555091B8DEBF43FC616B1BB" KeyPath="yes" Source="$(var.HarvestPath)\System.Management.dll" />
            </Component>
            <Component Id="cmpBF5BB5837F083D17A2BA92FC36056382" Directory="INSTALLDIR" Guid="*">
                <File Id="filC75C6B87288BDC7AD405CB5B1C42548E" KeyPath="yes" Source="$(var.HarvestPath)\System.Security.Permissions.dll" />
            </Component>
            <Component Id="cmpB2560850D900452E47078C892AA808D0" Directory="INSTALLDIR" Guid="*">
                <File Id="filC6B0E40BCEA275B9B7A3C418789E773E" KeyPath="yes" Source="$(var.HarvestPath)\System.Windows.Extensions.dll" />
            </Component>
            <Component Id="cmp706223D2ABF6685A8E778D40099041C4" Directory="INSTALLDIR" Guid="*">
                <File Id="filB19F03244FC8ACDFED93F0A01EDD6A3F" KeyPath="yes" Source="$(var.HarvestPath)\VisualElements_150.png" />
            </Component>
            <Component Id="cmp255D4D829FEC7E132FD1C14ECB455A2C" Directory="INSTALLDIR" Guid="*">
                <File Id="fil4F8AD9111B5248D2CBC3F4AD3D2EDB8B" KeyPath="yes" Source="$(var.HarvestPath)\VisualElements_70.png" />
            </Component>
            <Component Id="cmp0F95C4FB4AE66539A1C6029C40AA52E6" Directory="INSTALLDIR" Guid="*">
                <File Id="fil0B33C04EA75E681D3E3040870BDF6C0F" KeyPath="yes" Source="$(var.HarvestPath)\VncSharpCore.dll" />
            </Component>
            <Component Id="cmpF64D60E2A7A50FD6241ABDBE27E31F59" Directory="INSTALLDIR" Guid="*">
                <File Id="filED0391668232DF3DEA5823C1D36F49AD" KeyPath="yes" Source="$(var.HarvestPath)\WeifenLuo.WinFormsUI.Docking.dll" />
            </Component>
            <Component Id="cmpBA753907719CFB8E5911F999855AB374" Directory="INSTALLDIR" Guid="*">
                <File Id="filB22044E1A17BCF2A77B31ED2880C383E" KeyPath="yes" Source="$(var.HarvestPath)\WeifenLuo.WinFormsUI.Docking.ThemeVS2003.dll" />
            </Component>
            <Component Id="cmp99E30557E2F072FB29D00E931D7D317E" Directory="INSTALLDIR" Guid="*">
                <File Id="filC953E16DEA7DD878C0BEFD21A0823CAB" KeyPath="yes" Source="$(var.HarvestPath)\WeifenLuo.WinFormsUI.Docking.ThemeVS2005.dll" />
            </Component>
            <Component Id="cmp57DED95B03D5971E9AAAF14373B9EA3B" Directory="INSTALLDIR" Guid="*">
                <File Id="fil2C5156DB6E373C1CB1FBF4E0C9951B60" KeyPath="yes" Source="$(var.HarvestPath)\WeifenLuo.WinFormsUI.Docking.ThemeVS2012.dll" />
            </Component>
            <Component Id="cmp500B898207EDED255FBDD483C986F0E8" Directory="INSTALLDIR" Guid="*">
                <File Id="fil6A069A23F89129064B507EBC47F9A76E" KeyPath="yes" Source="$(var.HarvestPath)\WeifenLuo.WinFormsUI.Docking.ThemeVS2013.dll" />
            </Component>
            <Component Id="cmpCB1387F6E09FEBEA8084E857787F33EA" Directory="INSTALLDIR" Guid="*">
                <File Id="fil09E77F330B2D23A6F306099688F7A9C3" KeyPath="yes" Source="$(var.HarvestPath)\WeifenLuo.WinFormsUI.Docking.ThemeVS2015.dll" />
            </Component>
            <Component Id="cmp643F6BC02D559138788B66788747B74E" Directory="INSTALLDIR" Guid="*">
                <File Id="fil9987BED6E61406EB6AADC003B6E8A6B9" KeyPath="yes" Source="$(var.HarvestPath)\ZstdNet.dll" />
            </Component>
            <Component Id="cmp46A31C5C8F6C32D00394B76FC10B878C" Directory="dir82972532CA27BEF6B972C3A142E19BC1" Guid="*">
                <File Id="fil1BBD62B8CC672D965BD8B093F72F7E70" KeyPath="yes" Source="$(var.HarvestPath)\cs-CZ\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmp5DFAE724F417BAA098FEE2F39E4ECDCA" Directory="dirF7A62AAB979B938D6BCEC1392A589DA5" Guid="*">
                <File Id="fil9929483908F07EA65163C388D78E5AA7" KeyPath="yes" Source="$(var.HarvestPath)\de\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmp97F1894018FE85E7F10F48530CAD5B16" Directory="dir62078C356EA332979A99724C7722A56A" Guid="*">
                <File Id="filA71C0402E6C25B37D9854654950D4B83" KeyPath="yes" Source="$(var.HarvestPath)\el\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmpC19C3D7C89A4FBF3FC521FC69C7B3B68" Directory="dir577231E2EF642DDF4B09B65F4BEE3BE2" Guid="*">
                <File Id="filE15F41E0B29AEFF7322346877159B2A3" KeyPath="yes" Source="$(var.HarvestPath)\es\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmp40698C05218D56587A9782D00CBFDA98" Directory="dir4D0A9F0DBDF1EE024E030F9E3B94104C" Guid="*">
                <File Id="filDE0D2DDF6B066FC5E61C6AE18CE63B9F" KeyPath="yes" Source="$(var.HarvestPath)\es-AR\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmpC3F0E66945E0C0A0E019A0D6BF11BA48" Directory="dirCAD1E83BD4CE375ABDB8F38597B3725B" Guid="*">
                <File Id="fil4E9D222811B808F3EAB32DE9DF620F90" KeyPath="yes" Source="$(var.HarvestPath)\fi-FI\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmp40895E6FE8EC4FFA9CDEB2FB5DD15F20" Directory="dir0B7D401DE3233449E75F31A823BF5B99" Guid="*">
                <File Id="fil715FF750208BACE83BC7DCCF4BEB3FA2" KeyPath="yes" Source="$(var.HarvestPath)\fr\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmp7E6E8D87E380B22ED7E863FC841A2368" Directory="dir09632C6D20BFA94E2A24ED0E6D9B2C41" Guid="*">
                <File Id="filCD70EE978626DA4828A50601DEAE5556" KeyPath="yes" Source="$(var.HarvestPath)\hu\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmp60BEB4749EF0B6350757C1422ED72958" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil0F9CE0F66286B9AFBF21C2D7C69307CD" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Admin.ico" />
            </Component>
            <Component Id="cmpED2DD5896F248BE55F55F7D303D3C421" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil873376CA2A3FB0F84C2411CED15C106A" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Anti Virus.ico" />
            </Component>
            <Component Id="cmpCEBE14E8CB8DF6D4DB964C604F4C52E5" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil7B0D51A58C760E23703EF3E8011830C3" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Apple.ico" />
            </Component>
            <Component Id="cmpC4484761964AFB973D742B67A2B4DFFB" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil1ED3A3A85443AB8D0433ACF1D913E016" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Backup.ico" />
            </Component>
            <Component Id="cmp75F908087E133D7E5632C2AED7151821" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="filE9E31F517253037124BD42C0B830308A" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Build Server.ico" />
            </Component>
            <Component Id="cmp260080F4032811F69C7BF593C3807932" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="filF7312E739B72C02EC1098913FDE7698B" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Console.ico" />
            </Component>
            <Component Id="cmp1FEE635B776DFA8B857CF52387E93B93" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="filA9262D06955016AA04A76B15E611228A" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Database.ico" />
            </Component>
            <Component Id="cmpDD752B1D3920971301E59D0F4330E5B8" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil6A9F3BD0A4CA8EB392313F538160451D" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Domain Controller.ico" />
            </Component>
            <Component Id="cmp7529A80522BE2F489CE29A77CDE75563" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="filD387F7B3BA1F144C87CDF3F073F693BE" KeyPath="yes" Source="$(var.HarvestPath)\Icons\ESX.ico" />
            </Component>
            <Component Id="cmp98A4AAF5CE7D08D38B45DAAC292DAAE9" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="filE66B101D07CEC7355D5E27FD16F9D560" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Fax.ico" />
            </Component>
            <Component Id="cmpE7A35D214B596D7DED53C644415D383B" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil9800B5F2226ACF226E3A84F65CCB0EE6" KeyPath="yes" Source="$(var.HarvestPath)\Icons\File Server.ico" />
            </Component>
            <Component Id="cmp5099815041FF29F109B8B372E04C224D" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil9BA0B69CC0621ED0B96B84764537649C" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Finance.ico" />
            </Component>
            <Component Id="cmpFB1AAE5F37978B65BC890C43009B7479" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="filFAE0C68FF189D979F556914FA99D658B" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Firewall.ico" />
            </Component>
            <Component Id="cmp3B77B3A258E1697AD8428E95F6778A8B" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil920AC8203BE68BD6A62080E4A7491B84" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Infrastructure.ico" />
            </Component>
            <Component Id="cmpF8C16EB2F8E5F8C6E32A501AE9F091F0" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil76B8A4B03FF896FA3C086EFAF182B622" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Linux.ico" />
            </Component>
            <Component Id="cmp39A6084DEFDD6A242EB6F64ED37E343E" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil699120D8828E12D589A75E629BFAF24A" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Log.ico" />
            </Component>
            <Component Id="cmp14D7A735D9C40FAED5250CEAEDD1417D" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil979943C9EDEE8950816F5C4A73976571" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Mail Server.ico" />
            </Component>
            <Component Id="cmp576892BE7140AB928C8A4BBF16868C78" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil5D46D49178EB9D36AA45B5A32A6B185B" KeyPath="yes" Source="$(var.HarvestPath)\Icons\mRemote.ico" />
            </Component>
            <Component Id="cmpB2A85C7B04FB2075DDD83FD65A3D8119" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil7089D0DA6D3D72648762BA64369418F9" KeyPath="yes" Source="$(var.HarvestPath)\Icons\mRemoteNG.ico" />
            </Component>
            <Component Id="cmpAB7717112F26D1CD156E5291D682BE22" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil61DA7FB9F4D7361410850C2314F05B20" KeyPath="yes" Source="$(var.HarvestPath)\Icons\PowerShell.ico" />
            </Component>
            <Component Id="cmpB3227F5E969B98250E85EB0763E894BE" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil75083F896938EE4246E83859E5E9F1CA" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Production.ico" />
            </Component>
            <Component Id="cmp72D990ECEF13F8280352A03E043F79BA" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil24BA6D3AC06B6909D0B00A10814E576F" KeyPath="yes" Source="$(var.HarvestPath)\Icons\PuTTY.ico" />
            </Component>
            <Component Id="cmp9A8A06E3833AF93B6ACE3CBDAD53AB21" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil49F1D8A7FF72E173AF3CF11F7E53A3EA" KeyPath="yes" Source="$(var.HarvestPath)\Icons\RaspberryPi.ico" />
            </Component>
            <Component Id="cmp7C686FD24868DF636E058B7820ABD142" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil1CC32079F1DD2DB0FBD9DBA4AF7F08B1" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Remote Desktop.ico" />
            </Component>
            <Component Id="cmp43B9B03EAE26421AD5785AED6CC7B695" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil50C13A2996D9F2E68AA8472DF216BB84" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Router.ico" />
            </Component>
            <Component Id="cmp4A7190066C0FDAAE97B276A5AD23859E" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil8246077617D85C6F0EEFFD1246DE607A" KeyPath="yes" Source="$(var.HarvestPath)\Icons\SharePoint.ico" />
            </Component>
            <Component Id="cmp44C3B2CAEB323433EA33B7EC1A1DF883" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="filE4724A058834682D35A1D03229A192A6" KeyPath="yes" Source="$(var.HarvestPath)\Icons\SSH.ico" />
            </Component>
            <Component Id="cmp70CC9D4FBC0D87CE13C4E68C0375FF58" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil0ACD18012073615047B7F5810E0248B2" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Staging.ico" />
            </Component>
            <Component Id="cmpA80D6ED557A1172E9E25577657315D6E" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="filD20398CE846B212F67B77D4DDC63F075" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Switch.ico" />
            </Component>
            <Component Id="cmp3A5D8E911572BC9B0AED10E4E955162D" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil12CA3DA43ABD6FC62956584DBD774DFB" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Tel.ico" />
            </Component>
            <Component Id="cmpF003BC60462A8B74DC28F6E0C8C5C3C0" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil98C7293D55AC66939F08D2C6157572C2" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Telnet.ico" />
            </Component>
            <Component Id="cmp2878B414FF374FB0AA51C5BC23398133" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil2B090EAE9EF2F44CF2A3E7DAAF1105D4" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Terminal Server.ico" />
            </Component>
            <Component Id="cmp52E44780A0CAB8AC479BB15A5E8D608A" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil1D9838F8B338948432C2A7788ED75FA7" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Test Server.ico" />
            </Component>
            <Component Id="cmp5B31AD89D5988BF2650DE6C3E4DB6E08" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="filEDC891344B441EDF7B51D67BE7CFF4B8" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Virtual Machine.ico" />
            </Component>
            <Component Id="cmp828D4378DD0AF0425CBF0D2704879F09" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil6DD578D52D872E9BFFDFB56EA272118B" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Web Server.ico" />
            </Component>
            <Component Id="cmp88965407BC570EEF9E0E78748AA64EF3" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil20DFB622D98807BEAA0B349EDDEFD583" KeyPath="yes" Source="$(var.HarvestPath)\Icons\WiFi.ico" />
            </Component>
            <Component Id="cmp0F7C27C22955E885F3E4C68E0EC431E3" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="filA4656BC127CB163639788BF510F253A4" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Windows.ico" />
            </Component>
            <Component Id="cmp2DF86AFCC97AE4C0063FE45EBCFCB7FE" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil100CAAAF0BF4C3FB196087F29DA37CDE" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Workstation.ico" />
            </Component>
            <Component Id="cmpCF1D4DD52581584CB9775277B2969302" Directory="dirB5B71807E9474A6ED7A421DAF6D9317F" Guid="*">
                <File Id="fil661D46FCD95364176089BD3D28019330" KeyPath="yes" Source="$(var.HarvestPath)\it\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmpCAE7C04B51FCDA44C75468EFEEF4747A" Directory="dir236726D31B8846E56F94A60B4BDA0D5D" Guid="*">
                <File Id="fil40181C01EA09FC8EA2E69024B65775C3" KeyPath="yes" Source="$(var.HarvestPath)\ja-JP\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmp0BAC93C0A0E70E5ACB66DC026BA8110E" Directory="dir84F2A679A7F20EDA03A198E92F9399E3" Guid="*">
                <File Id="fil0B91C6F2B565FA653A19ED0161ED07EC" KeyPath="yes" Source="$(var.HarvestPath)\ko-KR\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmp78FEDEE0F378D2F4F0D0F26E5AA4BAA7" Directory="dir5D4FF3A14A3EA47FCD6D9414E469A244" Guid="*">
                <File Id="filB5234976A684303D93EE2D709DAEF369" KeyPath="yes" Source="$(var.HarvestPath)\lt\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmpF3DD876818F39442E2739EF8AF18F465" Directory="dir54E7E449F697FA31B946B0D847BC12FC" Guid="*">
                <File Id="fil5D73E84534D2765C09BDC7EA52825053" KeyPath="yes" Source="$(var.HarvestPath)\nb-NO\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmp6A9C47E1A45A8195474C05BBE19E177A" Directory="dirAD9F3749BDE51B9EA3E808CC39488A46" Guid="*">
                <File Id="fil8B3155B48D8DBF01C2952E661E6E5C83" KeyPath="yes" Source="$(var.HarvestPath)\nl\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmp1A4ED188D2470BF1363EB5C9A17FC259" Directory="dir42A5D57151A6A3E9D965C69C82893176" Guid="*">
                <File Id="fil5DA9B161129D2361D3A60071DDE4214E" KeyPath="yes" Source="$(var.HarvestPath)\pl\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmpDEABACBE2FE4B638AF6271AEA9E2F8C9" Directory="dirC5F627279ECABE21145A844571EF9F74" Guid="*">
                <File Id="filC52A947A9955B1F51BDDC6B7BD5696AC" KeyPath="yes" Source="$(var.HarvestPath)\pt\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmp1DCD94595ED6192A198D0FC5405BB080" Directory="dir3CF6B6BC48181D29C167EF5DB7F05816" Guid="*">
                <File Id="fil5CD3DAE410339965F6CFF69171DA3DB4" KeyPath="yes" Source="$(var.HarvestPath)\pt-BR\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmp14F9A7840D91A07FE79D6C6258D5872E" Directory="dirF7C0BEA86C276F53E8C9E8E6B2629A9B" Guid="*">
                <File Id="fil84ABB736DDC19CD359E8850BB51959F7" KeyPath="yes" Source="$(var.HarvestPath)\ru\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmpC8D403F170EFC62EECE44C445A7B9620" Directory="dir790BB27D6E4F5B6A95574FBBC538D98F" Guid="*">
                <File Id="fil7C71A0764E46EF94AD4F4DFC7156A272" KeyPath="yes" Source="$(var.HarvestPath)\runtimes\unix\lib\netcoreapp2.1\System.Data.SqlClient.dll" />
            </Component>
            <Component Id="cmp8C892DF6E1DD0AED47C62E99AE55DCF4" Directory="dir9B4F0782CF9942D78104F206EFA81030" Guid="*">
                <File Id="filAE30E571A592883F1B44E73E6D3D0264" KeyPath="yes" Source="$(var.HarvestPath)\runtimes\win\lib\net6.0\Microsoft.Win32.SystemEvents.dll" />
            </Component>
            <Component Id="cmp633F33808FFBCD54AF788C35850E01D0" Directory="dir9B4F0782CF9942D78104F206EFA81030" Guid="*">
                <File Id="fil6214125EB16B807C5B3466D66508A28B" KeyPath="yes" Source="$(var.HarvestPath)\runtimes\win\lib\net6.0\System.Diagnostics.EventLog.Messages.dll" />
            </Component>
            <Component Id="cmp4A694FE3C25E727C7FB19FC5ACE56B5B" Directory="dir9B4F0782CF9942D78104F206EFA81030" Guid="*">
                <File Id="fil2A4239AC9CDDC051C8DE0B5443C897F4" KeyPath="yes" Source="$(var.HarvestPath)\runtimes\win\lib\net6.0\System.DirectoryServices.dll" />
            </Component>
            <Component Id="cmp1A131A6B5A485AB269A94AA8152EEF34" Directory="dir9B4F0782CF9942D78104F206EFA81030" Guid="*">
                <File Id="filE8AEFAE30012E9422DC8BB8D8E51A7B9" KeyPath="yes" Source="$(var.HarvestPath)\runtimes\win\lib\net6.0\System.Drawing.Common.dll" />
            </Component>
            <Component Id="cmp91B9CC4193A542A5C6A10A1F52FC6AAA" Directory="dir9B4F0782CF9942D78104F206EFA81030" Guid="*">
                <File Id="fil83862DF820A12865A856EA0ACAE72D3D" KeyPath="yes" Source="$(var.HarvestPath)\runtimes\win\lib\net6.0\System.Management.dll" />
            </Component>
            <Component Id="cmpCD1BCC81A9E46FC8DB9C7C64E44D4B86" Directory="dir9B4F0782CF9942D78104F206EFA81030" Guid="*">
                <File Id="fil3D25C46CFA411E6515BC358806AD19FD" KeyPath="yes" Source="$(var.HarvestPath)\runtimes\win\lib\net6.0\System.Windows.Extensions.dll" />
            </Component>
            <Component Id="cmpB2739C20C1F19D6173B79D6CF660EBAE" Directory="dir2C3D76D932FEC38ECE3CF992C9052F22" Guid="*">
                <File Id="filDCA7AAABA4EC944A3EC1AABC37332413" KeyPath="yes" Source="$(var.HarvestPath)\runtimes\win\lib\netcoreapp2.1\System.Data.SqlClient.dll" />
            </Component>
            <Component Id="cmpDB52D535706748FF09DC16ED0CA3EF67" Directory="dir8DE1CAE5F6B03F7A6BAE17D4E78639BA" Guid="*">
                <File Id="fil0493B7B320B8E5CF10EA5A78387A4BE9" KeyPath="yes" Source="$(var.HarvestPath)\runtimes\win-arm64\native\sni.dll" />
            </Component>
            <Component Id="cmpBBD0399A2C7020A0BFFB886996B79169" Directory="dir8DE1CAE5F6B03F7A6BAE17D4E78639BA" Guid="*">
                <File Id="fil7E9426B7CDAEEE105D4AEA1A60251BCB" KeyPath="yes" Source="$(var.HarvestPath)\runtimes\win-arm64\native\WebView2Loader.dll" />
            </Component>
            <Component Id="cmpFAFA9D64A2B1D8B66ACB1C2D958C9DC5" Directory="dir2ED89DAEE76564AD33DB582F055A5274" Guid="*">
                <File Id="fil1352EAE0A6DCBF023872C40101DB9BB1" KeyPath="yes" Source="$(var.HarvestPath)\runtimes\win-x64\native\sni.dll" />
            </Component>
            <Component Id="cmpA94B75651045F785CCA29EE2638258AF" Directory="dir2ED89DAEE76564AD33DB582F055A5274" Guid="*">
                <File Id="fil4CB4D838CA0B7A043E05392D9F7C1E94" KeyPath="yes" Source="$(var.HarvestPath)\runtimes\win-x64\native\WebView2Loader.dll" />
            </Component>
            <Component Id="cmp320962FC6534F4036FFF98F41E83D11F" Directory="dir141099046F4229F01C3B534ABFD3E870" Guid="*">
                <File Id="filDBEF9ECE0A5B2CDE1B08874749F8DF6E" KeyPath="yes" Source="$(var.HarvestPath)\runtimes\win-x86\native\sni.dll" />
            </Component>
            <Component Id="cmpAB864564FF3651C4D146E03D87252A7A" Directory="dir141099046F4229F01C3B534ABFD3E870" Guid="*">
                <File Id="filCCD5DC5D40C6AB535B6AC22051603CB5" KeyPath="yes" Source="$(var.HarvestPath)\runtimes\win-x86\native\WebView2Loader.dll" />
            </Component>
            <Component Id="cmpF6021CFE1FD1DFC556CBEE9FB741CDED" Directory="dir54B0732D1EC7055747BB11A9069B5872" Guid="*">
                <File Id="fil20F7BEFB9BCBA1C600A7AA95F5C9756A" KeyPath="yes" Source="$(var.HarvestPath)\Schemas\mremoteng_confcons_v2_5.xsd" />
            </Component>
            <Component Id="cmp8AE0FF3EDDB42980FCF6444EEE77E327" Directory="dir54B0732D1EC7055747BB11A9069B5872" Guid="*">
                <File Id="fil96BE0C06583E95E1FCBC4B123F62F929" KeyPath="yes" Source="$(var.HarvestPath)\Schemas\mremoteng_confcons_v2_6.xsd" />
            </Component>
            <Component Id="cmp94B0CA4E5F2F6D28611A655BDB449E1E" Directory="dir54B0732D1EC7055747BB11A9069B5872" Guid="*">
                <File Id="filDD3B91C7B1FF8E22F8E658E542840D55" KeyPath="yes" Source="$(var.HarvestPath)\Schemas\mremoteng_confcons_v2_7.xsd" />
            </Component>
            <Component Id="cmpB902A64979524E0126DB594BA240DEB7" Directory="dir54B0732D1EC7055747BB11A9069B5872" Guid="*">
                <File Id="filED09F28F7EEE2FFFB9BF6657D70C9D98" KeyPath="yes" Source="$(var.HarvestPath)\Schemas\mremoteng_credrepo_list_v1_0.xsd" />
            </Component>
            <Component Id="cmp6FE9FEDBE5634AF395230BA8D500104A" Directory="dir54B0732D1EC7055747BB11A9069B5872" Guid="*">
                <File Id="fil07B6D1F679673392A00E25C468ED6A7F" KeyPath="yes" Source="$(var.HarvestPath)\Schemas\mremoteng_creds_v1_0.xsd" />
            </Component>
            <Component Id="cmpCE8CCE2E57CBB8B72D37C8F6606FC1FD" Directory="dir861F6A02C2F7A7DA6955E64037179011" Guid="*">
                <File Id="fil06AD4DEB76585AD17235CA4874291457" KeyPath="yes" Source="$(var.HarvestPath)\sv-SE\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmp3574060B3152DDCCE44B3528A0C71B63" Directory="dir449D12A97ECE34898DFE89F1087779C9" Guid="*">
                <File Id="fil146F3F5A21FE54B5545684791AB50136" KeyPath="yes" Source="$(var.HarvestPath)\Themes\darcula.vstheme" />
            </Component>
            <Component Id="cmp10355C1CB059E65F1ED03458EADE7C5F" Directory="dir449D12A97ECE34898DFE89F1087779C9" Guid="*">
                <File Id="filCE7764B2C5A95183E805582F263BCC5F" KeyPath="yes" Source="$(var.HarvestPath)\Themes\vs2015blue.vstheme" />
            </Component>
            <Component Id="cmpF674F6C548EBF993B72FA4EBF5ADAC21" Directory="dir449D12A97ECE34898DFE89F1087779C9" Guid="*">
                <File Id="filA5A98FD5A7D4DEF6CDA6C3652E12EC66" KeyPath="yes" Source="$(var.HarvestPath)\Themes\vs2015dark.vstheme" />
            </Component>
            <Component Id="cmp785919C5C947C3DFF8751EAA846B5FA7" Directory="dir449D12A97ECE34898DFE89F1087779C9" Guid="*">
                <File Id="fil46DE91950AEE35EDBAF9606ACF6FE1C4" KeyPath="yes" Source="$(var.HarvestPath)\Themes\vs2015light.vstheme" />
            </Component>
            <Component Id="cmp64D2ADC91AE3713E639B495CC0518A7F" Directory="dirF50F8AE1B4079411641D2CA28D569A6E" Guid="*">
                <File Id="fil74F215747A8E72D357A05798BFC0319D" KeyPath="yes" Source="$(var.HarvestPath)\tr-TR\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmp17BAEE5D2157190600C56FF82FE3784B" Directory="dir09CC4E618379FE7D9EB8E064B61C997C" Guid="*">
                <File Id="fil659BA500C0BF779A24E8F4669C65E7CA" KeyPath="yes" Source="$(var.HarvestPath)\uk\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmp214DB5E4D7F32338E1E8A139C8BCA66B" Directory="dir7615CEE1531630E53F5B99A187D27DF9" Guid="*">
                <File Id="fil878C2816E449E0F6C9F4E44E3A06ED4D" KeyPath="yes" Source="$(var.HarvestPath)\zh-CN\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmp080BF5CEB7B5881A5C147B8EF586143E" Directory="dir8B12BA0D447ED118A459E1723FCB6A85" Guid="*">
                <File Id="fil9330E2B75901D743DEB8CF2F5A058247" KeyPath="yes" Source="$(var.HarvestPath)\zh-TW\mRemoteNG.resources.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirF3038242710747884E86633F9CAF9B21">
            <Directory Id="dir141099046F4229F01C3B534ABFD3E870" Name="native" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirF78421D30AE78B84FBB1AF80F70209FC">
            <Directory Id="dir2C3D76D932FEC38ECE3CF992C9052F22" Name="netcoreapp2.1" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirB699B779DD859CB7CAD46DA4BC9017C0">
            <Directory Id="dir2C3E5AEEB2F7196C5A6FEEA1F79147DA" Name="win" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir98D160BE690DB35BE57FFB8F3DCF5AC7">
            <Directory Id="dir2ED89DAEE76564AD33DB582F055A5274" Name="native" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir7D751612140E64D275382A8E09372899">
            <Directory Id="dir6C30D04BD96F620328AC9AAA5E4B0F9B" Name="lib" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir6C30D04BD96F620328AC9AAA5E4B0F9B">
            <Directory Id="dir790BB27D6E4F5B6A95574FBBC538D98F" Name="netcoreapp2.1" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirB699B779DD859CB7CAD46DA4BC9017C0">
            <Directory Id="dir7D751612140E64D275382A8E09372899" Name="unix" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirB699B779DD859CB7CAD46DA4BC9017C0">
            <Directory Id="dir85A01EEDCA388CEBE492AC128D8D37CC" Name="win-arm64" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir85A01EEDCA388CEBE492AC128D8D37CC">
            <Directory Id="dir8DE1CAE5F6B03F7A6BAE17D4E78639BA" Name="native" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirB699B779DD859CB7CAD46DA4BC9017C0">
            <Directory Id="dir98D160BE690DB35BE57FFB8F3DCF5AC7" Name="win-x64" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirF78421D30AE78B84FBB1AF80F70209FC">
            <Directory Id="dir9B4F0782CF9942D78104F206EFA81030" Name="net6.0" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirB699B779DD859CB7CAD46DA4BC9017C0">
            <Directory Id="dirF3038242710747884E86633F9CAF9B21" Name="win-x86" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir2C3E5AEEB2F7196C5A6FEEA1F79147DA">
            <Directory Id="dirF78421D30AE78B84FBB1AF80F70209FC" Name="lib" />
        </DirectoryRef>
    </Fragment>
</Wix>