<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="CG.ProjectInfoFiles" Directory="INSTALLDIR">
      <Component Id="C.Changelog" Guid="762459f4-0460-4058-a448-d0f4e5cd4a65">
        <File Id="ChangelogFile" Name="Changelog" Source="$(var.SolutionDir)CHANGELOG.md" KeyPath="yes" />
      </Component>
      <Component Id="C.License" Guid="89e79101-fcf9-4277-b948-1fd5f1fcae69">
        <File Id="LicenseFile" Name="License" Source="$(var.SolutionDir)COPYING.TXT" KeyPath="yes" />
      </Component>
      <Component Id="C.Readme" Guid="1359cc74-fe51-4c6e-81f4-2bee7871c40f">
        <File Id="ReadmeFile" Name="Readme" Source="$(var.SolutionDir)README.md" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>