<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net-net-1.0" />
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="mRemoteNG.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="mRemoteNG.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <log4net>
			<logger name="mRemoteNG.Log">
				<level value="INFO"/>
			</logger>
			
			<root>
				<level value="ALL" />
				<appender-ref ref="LogFileAppender" />
			</root>
			
			<appender name="LogFileAppender" type="log4net.Appender.FileAppender">
				<file value="${USERPROFILE}\AppData\Local\mRemoteNG\mRemoteNG.log" />
				<!-- Example using environment variables in params -->
				<!-- <file value="${TMP}\log-file.txt" /> -->
				<appendToFile value="true" />
				<!-- An alternate output encoding can be specified -->
				<!-- <encoding value="unicodeFFFE" /> -->
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%date [%thread] %-5level- %message%newline" />
				</layout>
				<!-- Alternate layout using XML			
				<layout type="log4net.Layout.XMLLayout" /> -->
			</appender>
		</log4net>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <mRemoteNG.My.MySettings>
            <setting name="MainFormState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MainFormKiosk" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CustomPuttyPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowNoMessageBoxes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SwitchToMCOnInformation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SwitchToMCOnWarning" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SwitchToMCOnError" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutomaticallyGetSessionInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LoadConsFromCustomLocation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomConsPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveConsOnExit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConfirmExit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckForUpdatesOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDescriptionTooltipsInTree" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowSystemTrayIcon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenTabsRightOfSelected" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowLogonInfoOnTabs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SingleClickOnConnectionOpensIt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmptyCredentials" serializeAs="String">
                <value>noinfo</value>
            </setting>
            <setting name="DefaultUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultDomain" serializeAs="String">
                <value />
            </setting>
            <setting name="WriteLogFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseCustomPuttyPath" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowCompleteConsPathInTitle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowProtocolOnTabs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ResetPanels" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdateUseProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdateProxyAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdateProxyPort" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="UpdateProxyUseAuthentication" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdateProxyAuthUser" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdateProxyAuthPass" serializeAs="String">
                <value />
            </setting>
            <setting name="ConDefaultDescription" serializeAs="String">
                <value />
            </setting>
            <setting name="ConDefaultUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="ConDefaultPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ConDefaultDomain" serializeAs="String">
                <value />
            </setting>
            <setting name="ConDefaultProtocol" serializeAs="String">
                <value>RDP</value>
            </setting>
            <setting name="ConDefaultPuttySession" serializeAs="String">
                <value>Default Settings</value>
            </setting>
            <setting name="ConDefaultUseConsoleSession" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConDefaultResolution" serializeAs="String">
                <value>FitToWindow</value>
            </setting>
            <setting name="ConDefaultColors" serializeAs="String">
                <value>Colors16Bit</value>
            </setting>
            <setting name="ConDefaultCacheBitmaps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConDefaultDisplayWallpaper" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConDefaultDisplayThemes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConDefaultRedirectKeys" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConDefaultRedirectDiskDrives" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConDefaultRedirectPrinters" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConDefaultRedirectPorts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConDefaultRedirectSmartCards" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConDefaultRedirectSound" serializeAs="String">
                <value>DoNotPlay</value>
            </setting>
            <setting name="MaxPuttyWaitTime" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SingleInstance" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenConsFromLastSession" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NoReconnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoSaveEveryMinutes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ExtAppsTBVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExtAppsTBShowText" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExtAppsTBLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ExtAppsTBParentDock" serializeAs="String">
                <value>Bottom</value>
            </setting>
            <setting name="QuickyTBVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="QuickyTBLocation" serializeAs="String">
                <value>3, 24</value>
            </setting>
            <setting name="QuickyTBParentDock" serializeAs="String">
                <value>Top</value>
            </setting>
            <setting name="ResetToolbars" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseSQLServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SQLHost" serializeAs="String">
                <value />
            </setting>
            <setting name="SQLUser" serializeAs="String">
                <value />
            </setting>
            <setting name="SQLPass" serializeAs="String">
                <value />
            </setting>
            <setting name="InhDefaultCacheBitmaps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InhDefaultColors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InhDefaultDescription" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InhDefaultDisplayThemes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InhDefaultDisplayWallpaper" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InhDefaultDomain" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InhDefaultIcon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InhDefaultPassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InhDefaultPort" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InhDefaultProtocol" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InhDefaultPuttySession" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InhDefaultRedirectDiskDrives" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InhDefaultRedirectKeys" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InhDefaultRedirectPorts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InhDefaultRedirectPrinters" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InhDefaultRedirectSmartCards" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InhDefaultRedirectSound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InhDefaultResolution" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InhDefaultUseConsoleSession" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InhDefaultUsername" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InhDefaultPanel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConDefaultICAEncryptionStrength" serializeAs="String">
                <value>EncrBasic</value>
            </setting>
            <setting name="InhDefaultICAEncryptionStrength" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConDefaultPreExtApp" serializeAs="String">
                <value />
            </setting>
            <setting name="ConDefaultPostExtApp" serializeAs="String">
                <value />
            </setting>
            <setting name="InhDefaultPreExtApp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InhDefaultPostExtApp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SetHostnameLikeDisplayName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoubleClickOnTabClosesIt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReconnectOnDisconnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlwaysShowPanelSelectionDlg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConDefaultVNCAuthMode" serializeAs="String">
                <value>AuthVNC</value>
            </setting>
            <setting name="ConDefaultVNCColors" serializeAs="String">
                <value>ColNormal</value>
            </setting>
            <setting name="ConDefaultVNCSmartSizeMode" serializeAs="String">
                <value>SmartSAspect</value>
            </setting>
            <setting name="ConDefaultVNCViewOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConDefaultVNCCompression" serializeAs="String">
                <value>CompNone</value>
            </setting>
            <setting name="ConDefaultVNCEncoding" serializeAs="String">
                <value>EncHextile</value>
            </setting>
            <setting name="ConDefaultVNCProxyIP" serializeAs="String">
                <value />
            </setting>
            <setting name="ConDefaultVNCProxyPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ConDefaultVNCProxyPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConDefaultVNCProxyType" serializeAs="String">
                <value>ProxyNone</value>
            </setting>
            <setting name="ConDefaultVNCProxyUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="InhDefaultVNCAuthMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InhDefaultVNCColors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InhDefaultVNCSmartSizeMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InhDefaultVNCViewOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InhDefaultVNCCompression" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InhDefaultVNCEncoding" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InhDefaultVNCProxyIP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InhDefaultVNCProxyPassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InhDefaultVNCProxyPort" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InhDefaultVNCProxyType" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InhDefaultVNCProxyUsername" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimizeToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SingleClickSwitchesToOpenConnection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConDefaultRDPAuthenticationLevel" serializeAs="String">
                <value>NoAuth</value>
            </setting>
            <setting name="InhDefaultRDPAuthenticationLevel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UVNCSCPort" serializeAs="String">
                <value>5500</value>
            </setting>
            <setting name="StartupComponentsCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="XULRunnerPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ConDefaultRenderingEngine" serializeAs="String">
                <value>IE</value>
            </setting>
            <setting name="InhDefaultRenderingEngine" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConDefaultMacAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="InhDefaultMacAddress" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EncryptCompleteConnectionsFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConDefaultUserField" serializeAs="String">
                <value />
            </setting>
            <setting name="InhDefaultUserField" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConDefaultExtApp" serializeAs="String">
                <value />
            </setting>
            <setting name="InhDefaultExtApp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastAnnouncement" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckForUpdatesAsked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckForUpdatesFrequencyDays" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="CheckForUpdatesLastCheck" serializeAs="String">
                <value>1980-01-01</value>
            </setting>
            <setting name="UpdatePending" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConDefaultRDGatewayUsageMethod" serializeAs="String">
                <value>Never</value>
            </setting>
            <setting name="ConDefaultRDGatewayUseConnectionCredentials" serializeAs="String">
                <value>Yes</value>
            </setting>
            <setting name="ConDefaultIcon" serializeAs="String">
                <value>mRemoteNG</value>
            </setting>
            <setting name="InhDefaultRDGatewayUsageMethod" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InhDefaultRDGatewayHostname" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InhDefaultRDGatewayUsername" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InhDefaultRDGatewayPassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InhDefaultRDGatewayDomain" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InhDefaultRDGatewayUseConnectionCredentials" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RdpReconnectionCount" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="OverrideUICulture" serializeAs="String">
                <value />
            </setting>
            <setting name="ConDefaultRDGatewayHostname" serializeAs="String">
                <value />
            </setting>
            <setting name="ConDefaultRDGatewayUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="ConDefaultRDGatewayPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ConDefaultRDGatewayDomain" serializeAs="String">
                <value />
            </setting>
            <setting name="ConDefaultEnableFontSmoothing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InhDefaultEnableFontSmoothing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConDefaultEnableDesktopComposition" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InhDefaultEnableDesktopComposition" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConfirmCloseConnection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SQLDatabaseName" serializeAs="String">
                <value>mRemoteNG</value>
            </setting>
        </mRemoteNG.My.MySettings>
    </userSettings>
    <applicationSettings>
        <mRemoteNG.My.MySettings>
            <setting name="SupportedUICultures" serializeAs="String">
                <value>de,en,en-US,fr</value>
            </setting>
        </mRemoteNG.My.MySettings>
    </applicationSettings>
</configuration>
