<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.1" targetFramework="net46" />
  <package id="DockPanelSuite" version="2.16.1" targetFramework="net46" />
  <package id="DockPanelSuite.ThemeVS2003" version="2.16.1" targetFramework="net46" />
  <package id="DockPanelSuite.ThemeVS2012" version="2.16.1" targetFramework="net46" />
  <package id="DockPanelSuite.ThemeVS2013" version="2.16.1" targetFramework="net46" />
  <package id="DockPanelSuite.ThemeVS2015" version="2.16.1" targetFramework="net46" />
  <package id="Geckofx45" version="45.0.32" targetFramework="net46" />
  <package id="log4net" version="2.0.8" targetFramework="net46" />
  <package id="ObjectListView.Official" version="2.9.1" targetFramework="net46" />
  <package id="SSH.NET" version="2016.0.0" targetFramework="net46" />
</packages>