<div class='jumbotron text-center pt-1 pt-md-3 pb-1 pb-md-3'>
	<h1 class='display-3'>mRemoteNG</h1>
	<p class='lead'>Multi-Remote Next Generation</p>
	<ul class='list-inline'>
		<li class='list-inline-item'>
			<a class='github-button' href='{{ site.github.repository_url }}' data-count-href='{{ site.github.repository_url }}/stargazers' data-show-count="true" aria-label='Star {{ site.github.repository_nwo }} on GitHub'>Star</a>
		</li>
		<li class='list-inline-item'>
			<a href='https://twitter.com/mRemoteNG' class='twitter-follow-button' data-show-count='true' data-show-screen-name='false'>Follow @mRemoteNG</a>
		</li>
	</ul>
</div>
