<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class='container'>
		<a class='navbar-brand' href='{{ site.baseurl }}/'>mRemoteNG</a>
		<button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbar-collapse' aria-controls='navbar-collapse' aria-expanded='false' aria-label='Toggle navigation'>
			<span class='navbar-toggler-icon'></span>
		</button>
		<div class='collapse navbar-collapse' id='navbar-collapse'>
			<ul class='navbar-nav mr-auto'>
				<li class='nav-item'>
					<a class='nav-link{% if page.url == "/" %} active{% endif %}' href='{{ site.baseurl }}/'>Home</a>
				</li>
				<li class='nav-item'>
					<a class='nav-link{% if page.url contains "/posts/" %} active{% endif %}' href='{{ site.baseurl }}/posts'>Posts</a>
				</li>
				<li class='nav-item'>
					<a class='nav-link' href='https://reddit.com/r/mRemoteNG/'>Reddit</a>
				</li>
				<li class='nav-item'>
					<a class='nav-link' href='{{ site.github.wiki_url }}'>Documentation</a>
				</li>
				<li class='nav-item'>
					<a class='nav-link{% if page.url == "/download" %} active{% endif %}' href='{{ site.baseurl }}/download'>Download</a>
				</li>
				<li class='nav-item'>
					<a class='nav-link{% if page.url == "/contribute" %} active{% endif %}' href='{{ site.baseurl }}/contribute'>Contribute</a>
				</li>
				<li class='nav-item'>
					<a class='nav-link' href='{{ site.github.issues_url }}'>Bugs &amp; Feature Requests</a>
				</li>
				<li class='nav-item'>
					<a class='nav-link' href='{{ site.github.repository_url }}'>Source Code</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
