<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.1" targetFramework="net46" />
  <package id="Castle.Core" version="4.2.0" targetFramework="net46" />
  <package id="DockPanelSuite" version="2.16.1" targetFramework="net46" />
  <package id="log4net" version="2.0.8" targetFramework="net46" />
  <package id="NSubstitute" version="3.1.0" targetFramework="net46" />
  <package id="NUnit" version="3.9.0" targetFramework="net46" />
  <package id="NUnit.Console" version="3.7.0" targetFramework="net46" />
  <package id="NUnit.ConsoleRunner" version="3.7.0" targetFramework="net46" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.6.0" targetFramework="net46" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.7.0" targetFramework="net46" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.6.0" targetFramework="net46" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.3" targetFramework="net46" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.7.0" targetFramework="net46" />
  <package id="ObjectListView.Official" version="2.9.1" targetFramework="net46" />
  <package id="OpenCover" version="4.6.519" targetFramework="net46" />
  <package id="ReportGenerator" version="3.0.2" targetFramework="net46" />
  <package id="System.Threading.Tasks.Extensions" version="4.4.0" targetFramework="net46" />
</packages>