<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LanguageFolder" value="Language"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Languages"/>
    </assemblyBinding>
  </runtime>
</configuration>