<log4net>
    <logger name="Logger">
        <level value="DEBUG" />
    </logger>
    <root>
        <level value="ALL" />
        <appender-ref ref="LogFileAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
        <file value="${APPDATA}\mRemoteNG\mRemoteNG.log" />
        <appendToFile value="true" />
        <rollingStyle value="Size" />
        <maxSizeRollBackups value="5" />
        <maximumFileSize value="10MB" />
        <staticLogFileName value="true" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date [%thread] %-6level- %message%newline" />
        </layout>
    </appender>
</log4net>