<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLDIR">
            <Directory Id="dir82972532CA27BEF6B972C3A142E19BC1" Name="cs-CZ" />
            <Directory Id="dirF7A62AAB979B938D6BCEC1392A589DA5" Name="de" />
            <Directory Id="dir62078C356EA332979A99724C7722A56A" Name="el" />
            <Directory Id="dir8B16CA39C742773B276A9735BD3A5176" Name="en-US" />
            <Directory Id="dir577231E2EF642DDF4B09B65F4BEE3BE2" Name="es" />
            <Directory Id="dir4D0A9F0DBDF1EE024E030F9E3B94104C" Name="es-AR" />
            <Directory Id="dir9D2ADA490F3958898B458C2E58B52500" Name="Firefox" />
            <Directory Id="dir0B7D401DE3233449E75F31A823BF5B99" Name="fr" />
            <Directory Id="dir09632C6D20BFA94E2A24ED0E6D9B2C41" Name="hu" />
            <Directory Id="dir5E6DA158F27D9CA2AB915EC6AB53B383" Name="Icons" />
            <Directory Id="dirB5B71807E9474A6ED7A421DAF6D9317F" Name="it" />
            <Directory Id="dir236726D31B8846E56F94A60B4BDA0D5D" Name="ja-JP" />
            <Directory Id="dir84F2A679A7F20EDA03A198E92F9399E3" Name="ko-KR" />
            <Directory Id="dir5D4FF3A14A3EA47FCD6D9414E469A244" Name="lt" />
            <Directory Id="dir54E7E449F697FA31B946B0D847BC12FC" Name="nb-NO" />
            <Directory Id="dirAD9F3749BDE51B9EA3E808CC39488A46" Name="nl" />
            <Directory Id="dir42A5D57151A6A3E9D965C69C82893176" Name="pl" />
            <Directory Id="dirC5F627279ECABE21145A844571EF9F74" Name="pt" />
            <Directory Id="dir3CF6B6BC48181D29C167EF5DB7F05816" Name="pt-BR" />
            <Directory Id="dir61B122782F2749F187324C134F6498C1" Name="Resources" />
            <Directory Id="dirF7C0BEA86C276F53E8C9E8E6B2629A9B" Name="ru" />
            <Directory Id="dir54B0732D1EC7055747BB11A9069B5872" Name="Schemas" />
            <Directory Id="dir449D12A97ECE34898DFE89F1087779C9" Name="Themes" />
            <Directory Id="dirF50F8AE1B4079411641D2CA28D569A6E" Name="tr-TR" />
            <Directory Id="dir09CC4E618379FE7D9EB8E064B61C997C" Name="uk" />
            <Directory Id="dir7615CEE1531630E53F5B99A187D27DF9" Name="zh-CN" />
            <Directory Id="dir8B12BA0D447ED118A459E1723FCB6A85" Name="zh-TW" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="MandatoryComponents">
            <Component Id="cmp8397F468D348E58E75E2BE2ABFB86BD0" Directory="INSTALLDIR" Guid="*">
                <File Id="fil3E531E2FD3A07C5CF1D8033196D5BEC6" KeyPath="yes" Source="$(var.HarvestPath)\AdmPwd.PDSWrapper.dll" />
            </Component>
            <Component Id="cmpCA82E1ECC65DDD2E12BD695BC889E401" Directory="INSTALLDIR" Guid="*">
                <File Id="fil10AE03C2C63F657AA701E5F418C415F0" KeyPath="yes" Source="$(var.HarvestPath)\ADTree.dll" />
            </Component>
            <Component Id="cmp35D96EA44AD8354ED2F995D3EBCCE1A7" Directory="INSTALLDIR" Guid="*">
                <File Id="fil19AFB7CDBA1EEFE8FFFF6028483B5EC8" KeyPath="yes" Source="$(var.HarvestPath)\AxInterop.MSTSCLib.dll" />
            </Component>
            <Component Id="cmpC4D5BD4A4ACE1893F757BACA1178A0B0" Directory="INSTALLDIR" Guid="*">
                <File Id="fil3B054F892983C7A30A3E8822BFBCCAF1" KeyPath="yes" Source="$(var.HarvestPath)\AxInterop.WFICALib.dll" />
            </Component>
            <Component Id="cmp68D767AEEE842A722AECA2C65D34BE2E" Directory="INSTALLDIR" Guid="*">
                <File Id="filCC34B59260E76EC7532DD3E23A541355" KeyPath="yes" Source="$(var.HarvestPath)\BouncyCastle.Crypto.dll" />
            </Component>
            <Component Id="cmpC80350D124B50BBA8B15EDA2785513AF" Directory="INSTALLDIR" Guid="*">
                <File Id="fil92BB80A0015DEE1D4E207A2B29A3F2DC" KeyPath="yes" Source="$(var.HarvestPath)\CHANGELOG.md" />
            </Component>
            <Component Id="cmpADE94032AA8563E1E37003C8AB2D8F7E" Directory="INSTALLDIR" Guid="*">
                <File Id="fil6BA5B21301D77ADAE00F1DA02BFE8584" KeyPath="yes" Source="$(var.HarvestPath)\ConsoleControl.dll" />
            </Component>
            <Component Id="cmpCD880D9D0A268B608165CA720A505323" Directory="INSTALLDIR" Guid="*">
                <File Id="fil2D3E8B5BFE62A4776A87A75AD6DD50EA" KeyPath="yes" Source="$(var.HarvestPath)\ConsoleControlAPI.dll" />
            </Component>
            <Component Id="cmp047A6C5EFDBE1E198D8108B0C9429F8D" Directory="INSTALLDIR" Guid="*">
                <File Id="filA9AF50F71ECD31FA1809BBC6AD35FBD1" KeyPath="yes" Source="$(var.HarvestPath)\CREDITS.md" />
            </Component>
            <Component Id="cmpCDD2109D175F51EFA0CA77E339BB28EF" Directory="INSTALLDIR" Guid="*">
                <File Id="fil9B6ED5B4683F2CAA6EFE2C16B2061D1A" KeyPath="yes" Source="$(var.HarvestPath)\Geckofx-Core.dll" />
            </Component>
            <Component Id="cmp903EC4EB56A43271DB3B6A4E97D7B156" Directory="INSTALLDIR" Guid="*">
                <File Id="fil2DE1307D947F9E0CDCC94AF4F64F1977" KeyPath="yes" Source="$(var.HarvestPath)\Geckofx-Winforms.dll" />
            </Component>
            <Component Id="cmp19EC39A721B3368567C267C98B3A70BF" Directory="INSTALLDIR" Guid="*">
                <File Id="filF4F0A4E8F055AEBFE89D956290E642D9" KeyPath="yes" Source="$(var.HarvestPath)\Google.Protobuf.dll" />
            </Component>
            <Component Id="cmp4C51B5387780358DD249907CE9C046BF" Directory="INSTALLDIR" Guid="*">
                <File Id="filD2242E8CA2989ECDE6218752F9E92450" KeyPath="yes" Source="$(var.HarvestPath)\Google.Protobuf.pdb" />
            </Component>
            <Component Id="cmp3B87E05C275CE85388D030CC01BF1E20" Directory="INSTALLDIR" Guid="*">
                <File Id="fil3FCEFF3CAE083B7927D5D4E4B0218A88" KeyPath="yes" Source="$(var.HarvestPath)\Interop.MSTSCLib.dll" />
            </Component>
            <Component Id="cmp2EBD496ED7AE86AC70CB5EB0B1101067" Directory="INSTALLDIR" Guid="*">
                <File Id="filA635162D27B886FF77F7012E9DE3BF16" KeyPath="yes" Source="$(var.HarvestPath)\Interop.WFICALib.dll" />
            </Component>
            <Component Id="cmp13D6573EA8CF3F99F44BAE837E2771F0" Directory="INSTALLDIR" Guid="*">
                <File Id="fil2991F53D601CDF7142D0A9E1B42E116E" KeyPath="yes" Source="$(var.HarvestPath)\log4net.dll" />
            </Component>
            <Component Id="cmp96C54F95642107037672AE8624228EEC" Directory="INSTALLDIR" Guid="*">
                <File Id="filDA25D469AF0E70862729C3507C59BF9A" KeyPath="yes" Source="$(var.HarvestPath)\Markdig.dll" />
            </Component>
            <Component Id="cmp59B89B09D2FE47810465C97E2029144A" Directory="INSTALLDIR" Guid="*">
                <File Id="fil3BA874AF90D7B932FE55F051DB6E6182" KeyPath="yes" Source="$(var.HarvestPath)\Markdig.pdb" />
            </Component>
            
            <Component Id="cmp8958F261F3D830DE65AF9C2710549C88" Directory="INSTALLDIR" Guid="*">
                <File Id="fil75F94B8520D436392BD616D18AF233AF" KeyPath="yes" Source="$(var.HarvestPath)\mRemoteNG.exe.config" />
            </Component>
            <Component Id="cmp67313C6B4CE3487E9A8165EFFE369D16" Directory="INSTALLDIR" Guid="*">
                <File Id="fil5F0524AF62166FF3C4DAE07F1113C0D9" KeyPath="yes" Source="$(var.HarvestPath)\mRemoteNG.pdb" />
            </Component>
            
            <Component Id="cmp1D9B3E298A697AB163089035161BFA1D" Directory="INSTALLDIR" Guid="*">
                <File Id="fil895DC5B7ACBE0A8A9EE74F34EAD5B5AA" KeyPath="yes" Source="$(var.HarvestPath)\MySql.Data.dll" />
            </Component>
            <Component Id="cmpFF90EFA0AE0E35A48FC042638CF77F83" Directory="INSTALLDIR" Guid="*">
                <File Id="fil75F15A67DE36E6CD5ADC683FD7435C78" KeyPath="yes" Source="$(var.HarvestPath)\nunit.engine.api.dll" />
            </Component>
            <Component Id="cmp60171664B38A0BA8AFA2CCFD9DC72916" Directory="INSTALLDIR" Guid="*">
                <File Id="filDDF0CBD906AA151260327DB6D8CEF33D" KeyPath="yes" Source="$(var.HarvestPath)\nunit.engine.dll" />
            </Component>
            <Component Id="cmpD080EFC5FD4A34CFACCE171DB3A74124" Directory="INSTALLDIR" Guid="*">
                <File Id="filDC26451611F2363A23BE363327DF051C" KeyPath="yes" Source="$(var.HarvestPath)\NUnit3.TestAdapter.dll" />
            </Component>
            <Component Id="cmp753C50809C27F5384311B95383EF9C58" Directory="INSTALLDIR" Guid="*">
                <File Id="fil70D9CF6FB96BBA4D221162ED5D619FF8" KeyPath="yes" Source="$(var.HarvestPath)\NUnit3.TestAdapter.pdb" />
            </Component>
            <Component Id="cmp2C1BBE07A32C31BCF92912D601AD4864" Directory="INSTALLDIR" Guid="*">
                <File Id="fil357AF76EEBAC3CE454CB549E0C337C8A" KeyPath="yes" Source="$(var.HarvestPath)\ObjectListView.dll" />
            </Component>
            
            <Component Id="cmpEDFC52653A3A4D5C80AB3A0B7CE9AE35" Directory="INSTALLDIR" Guid="*">
                <File Id="fil9C1ED4726B58F1CD4C25AF29BDBE0F77" KeyPath="yes" Source="$(var.HarvestPath)\Renci.SshNet.dll" />
            </Component>
            <Component Id="cmp73085246C202ABD1D96D2E5DEFB2A801" Directory="INSTALLDIR" Guid="*">
                <File Id="filEDD81E77BF6933BF90C42AE0EFAA681B" KeyPath="yes" Source="$(var.HarvestPath)\System.Buffers.dll" />
            </Component>
            <Component Id="cmp4CFC7C3721FFD91FA4E9798A516D5E97" Directory="INSTALLDIR" Guid="*">
                <File Id="fil1E24D2F3B531B1D76E1631314436BD58" KeyPath="yes" Source="$(var.HarvestPath)\System.Memory.dll" />
            </Component>
            <Component Id="cmpA780BD9CC7EF10DE58A9E17B691B0205" Directory="INSTALLDIR" Guid="*">
                <File Id="fil41D7AC86F0924A477EE48B3AF9E39249" KeyPath="yes" Source="$(var.HarvestPath)\System.Numerics.Vectors.dll" />
            </Component>
            <Component Id="cmp04E7760BC247B05C847A4A6D5D8C7091" Directory="INSTALLDIR" Guid="*">
                <File Id="fil8974B12282083EB6B4CB7BAC26546374" KeyPath="yes" Source="$(var.HarvestPath)\System.Runtime.CompilerServices.Unsafe.dll" />
            </Component>
            <Component Id="cmp706223D2ABF6685A8E778D40099041C4" Directory="INSTALLDIR" Guid="*">
                <File Id="filB19F03244FC8ACDFED93F0A01EDD6A3F" KeyPath="yes" Source="$(var.HarvestPath)\VisualElements_150.png" />
            </Component>
            <Component Id="cmp255D4D829FEC7E132FD1C14ECB455A2C" Directory="INSTALLDIR" Guid="*">
                <File Id="fil4F8AD9111B5248D2CBC3F4AD3D2EDB8B" KeyPath="yes" Source="$(var.HarvestPath)\VisualElements_70.png" />
            </Component>
            <Component Id="cmpD3A62C6E1FCA8BCCB540EA093829FB0A" Directory="INSTALLDIR" Guid="*">
                <File Id="fil21072501EA7C63633A3FCD306B94A95D" KeyPath="yes" Source="$(var.HarvestPath)\VncSharp.dll" />
            </Component>
            <Component Id="cmpF64D60E2A7A50FD6241ABDBE27E31F59" Directory="INSTALLDIR" Guid="*">
                <File Id="filED0391668232DF3DEA5823C1D36F49AD" KeyPath="yes" Source="$(var.HarvestPath)\WeifenLuo.WinFormsUI.Docking.dll" />
            </Component>
            <Component Id="cmpBA753907719CFB8E5911F999855AB374" Directory="INSTALLDIR" Guid="*">
                <File Id="filB22044E1A17BCF2A77B31ED2880C383E" KeyPath="yes" Source="$(var.HarvestPath)\WeifenLuo.WinFormsUI.Docking.ThemeVS2003.dll" />
            </Component>
            <Component Id="cmp57DED95B03D5971E9AAAF14373B9EA3B" Directory="INSTALLDIR" Guid="*">
                <File Id="fil2C5156DB6E373C1CB1FBF4E0C9951B60" KeyPath="yes" Source="$(var.HarvestPath)\WeifenLuo.WinFormsUI.Docking.ThemeVS2012.dll" />
            </Component>
            <Component Id="cmp500B898207EDED255FBDD483C986F0E8" Directory="INSTALLDIR" Guid="*">
                <File Id="fil6A069A23F89129064B507EBC47F9A76E" KeyPath="yes" Source="$(var.HarvestPath)\WeifenLuo.WinFormsUI.Docking.ThemeVS2013.dll" />
            </Component>
            <Component Id="cmpCB1387F6E09FEBEA8084E857787F33EA" Directory="INSTALLDIR" Guid="*">
                <File Id="fil09E77F330B2D23A6F306099688F7A9C3" KeyPath="yes" Source="$(var.HarvestPath)\WeifenLuo.WinFormsUI.Docking.ThemeVS2015.dll" />
            </Component>
            <Component Id="cmp46A31C5C8F6C32D00394B76FC10B878C" Directory="dir82972532CA27BEF6B972C3A142E19BC1" Guid="*">
                <File Id="fil1BBD62B8CC672D965BD8B093F72F7E70" KeyPath="yes" Source="$(var.HarvestPath)\cs-CZ\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmp5DFAE724F417BAA098FEE2F39E4ECDCA" Directory="dirF7A62AAB979B938D6BCEC1392A589DA5" Guid="*">
                <File Id="fil9929483908F07EA65163C388D78E5AA7" KeyPath="yes" Source="$(var.HarvestPath)\de\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmp97F1894018FE85E7F10F48530CAD5B16" Directory="dir62078C356EA332979A99724C7722A56A" Guid="*">
                <File Id="filA71C0402E6C25B37D9854654950D4B83" KeyPath="yes" Source="$(var.HarvestPath)\el\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmp9D09FEE0BDA5A726B2D8890805D3DB17" Directory="dir8B16CA39C742773B276A9735BD3A5176" Guid="*">
                <File Id="fil4B4BA4A214ECB9100891C5CFF4C63306" KeyPath="yes" Source="$(var.HarvestPath)\en-US\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmpC19C3D7C89A4FBF3FC521FC69C7B3B68" Directory="dir577231E2EF642DDF4B09B65F4BEE3BE2" Guid="*">
                <File Id="filE15F41E0B29AEFF7322346877159B2A3" KeyPath="yes" Source="$(var.HarvestPath)\es\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmp40698C05218D56587A9782D00CBFDA98" Directory="dir4D0A9F0DBDF1EE024E030F9E3B94104C" Guid="*">
                <File Id="filDE0D2DDF6B066FC5E61C6AE18CE63B9F" KeyPath="yes" Source="$(var.HarvestPath)\es-AR\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmp226DB00120898ECC93C44BBE8937E877" Directory="dir9D2ADA490F3958898B458C2E58B52500" Guid="*">
                <File Id="filFC94B86E0725E9EA6517E342EF403309" KeyPath="yes" Source="$(var.HarvestPath)\Firefox\AccessibleHandler.dll" />
            </Component>
            <Component Id="cmpF17D2F9F86F2B55B4292F81884301ECC" Directory="dir9D2ADA490F3958898B458C2E58B52500" Guid="*">
                <File Id="filA3F38D775B9B109AC9AE334A5A4F9026" KeyPath="yes" Source="$(var.HarvestPath)\Firefox\AccessibleMarshal.dll" />
            </Component>
            <Component Id="cmpD2C7E7C269604A824634813485F6588D" Directory="dir9D2ADA490F3958898B458C2E58B52500" Guid="*">
                <File Id="fil54D8F183AF418DF2B7B980F924E7EA9C" KeyPath="yes" Source="$(var.HarvestPath)\Firefox\breakpadinjector.dll" />
            </Component>
            <Component Id="cmp359980620E2FCFE90793E12F9E2E1893" Directory="dir9D2ADA490F3958898B458C2E58B52500" Guid="*">
                <File Id="fil94F7ABE6CC2CEEDF3DBC035E666AC516" KeyPath="yes" Source="$(var.HarvestPath)\Firefox\d3dcompiler_47.dll" />
            </Component>
            <Component Id="cmpBF367973B749218CEDF66DFBC05984B3" Directory="dir9D2ADA490F3958898B458C2E58B52500" Guid="*">
                <File Id="fil966BBD0EF172976D1E453106E29A3967" KeyPath="yes" Source="$(var.HarvestPath)\Firefox\freebl3.dll" />
            </Component>
            <Component Id="cmp749A6783F76EF1CCE79E02F7B9F97657" Directory="dir9D2ADA490F3958898B458C2E58B52500" Guid="*">
                <File Id="filC068960A3E65CCA944F1E116B31850ED" KeyPath="yes" Source="$(var.HarvestPath)\Firefox\IA2Marshal.dll" />
            </Component>
            <Component Id="cmp84760753528D6C97E20907F376F2390B" Directory="dir9D2ADA490F3958898B458C2E58B52500" Guid="*">
                <File Id="fil53D61234A03432CD3FFB23FA338026BE" KeyPath="yes" Source="$(var.HarvestPath)\Firefox\icudt56.dll" />
            </Component>
            <Component Id="cmpA0675BBE1C8E8B6B34695192A1B9B3BC" Directory="dir9D2ADA490F3958898B458C2E58B52500" Guid="*">
                <File Id="filBE83211AA906ED5873B4C4A4F9096AB0" KeyPath="yes" Source="$(var.HarvestPath)\Firefox\icudt58.dll" />
            </Component>
            <Component Id="cmpCD88003C4FECE964A6A3A80A5A2AF5DB" Directory="dir9D2ADA490F3958898B458C2E58B52500" Guid="*">
                <File Id="fil584ADDF47068FD1DBB71DF9604514E22" KeyPath="yes" Source="$(var.HarvestPath)\Firefox\icuin56.dll" />
            </Component>
            <Component Id="cmp6643AA2B03B784FA9F9D2F98FCD3FACB" Directory="dir9D2ADA490F3958898B458C2E58B52500" Guid="*">
                <File Id="fil559D703F3173D2A846FD6015EBCB9995" KeyPath="yes" Source="$(var.HarvestPath)\Firefox\icuin58.dll" />
            </Component>
            <Component Id="cmp9377AE2B384E5887FCC176E151A9CAC6" Directory="dir9D2ADA490F3958898B458C2E58B52500" Guid="*">
                <File Id="filEB684C30A1EDE9FFFD19DE703969AB55" KeyPath="yes" Source="$(var.HarvestPath)\Firefox\icuuc56.dll" />
            </Component>
            <Component Id="cmp8EE18BE4CA68E33BC7E7BB5D06CC48E5" Directory="dir9D2ADA490F3958898B458C2E58B52500" Guid="*">
                <File Id="filB37B710498EA3E78086A29BADEA203E0" KeyPath="yes" Source="$(var.HarvestPath)\Firefox\icuuc58.dll" />
            </Component>
            <Component Id="cmp71267A59DB3D30412B5C7E033E7A21AA" Directory="dir9D2ADA490F3958898B458C2E58B52500" Guid="*">
                <File Id="fil3C027C7A1386A8D5EE0727042E8706BE" KeyPath="yes" Source="$(var.HarvestPath)\Firefox\lgpllibs.dll" />
            </Component>
            <Component Id="cmp5110265DFCF49773FAED206452C5D8B5" Directory="dir9D2ADA490F3958898B458C2E58B52500" Guid="*">
                <File Id="fil438732056AE3F5D4F76F68CBFDEBADAA" KeyPath="yes" Source="$(var.HarvestPath)\Firefox\libEGL.dll" />
            </Component>
            <Component Id="cmp49B869438F7D3CE6F8D8FAA971BEC170" Directory="dir9D2ADA490F3958898B458C2E58B52500" Guid="*">
                <File Id="fil24141D7496F5A20C19E14FAEEC064A8A" KeyPath="yes" Source="$(var.HarvestPath)\Firefox\libGLESv2.dll" />
            </Component>
            <Component Id="cmpF30A342541FCD3B31BA2C99663913AC0" Directory="dir9D2ADA490F3958898B458C2E58B52500" Guid="*">
                <File Id="fil513CC91D042F8B9A980554A2FAC3FB5D" KeyPath="yes" Source="$(var.HarvestPath)\Firefox\mozavcodec.dll" />
            </Component>
            <Component Id="cmpC5804F1B96475505585F33DE62D509A3" Directory="dir9D2ADA490F3958898B458C2E58B52500" Guid="*">
                <File Id="filD9BAC8D578EA367A2A02DF41D6F9FCED" KeyPath="yes" Source="$(var.HarvestPath)\Firefox\mozavutil.dll" />
            </Component>
            <Component Id="cmp0E08CAABF9998BE1522700C7C0A90364" Directory="dir9D2ADA490F3958898B458C2E58B52500" Guid="*">
                <File Id="fil75441E09C272B4D98F8D877E6F3BCF05" KeyPath="yes" Source="$(var.HarvestPath)\Firefox\mozglue.dll" />
            </Component>
            <Component Id="cmp447374AE5D5305E96DD5235ED4D790E3" Directory="dir9D2ADA490F3958898B458C2E58B52500" Guid="*">
                <File Id="filA9DDC4E689ECBFFD3606FE90A3EFAF25" KeyPath="yes" Source="$(var.HarvestPath)\Firefox\nss3.dll" />
            </Component>
            <Component Id="cmp09C0D560D91EC571257224F382BAE6CE" Directory="dir9D2ADA490F3958898B458C2E58B52500" Guid="*">
                <File Id="fil6A221865D1BF9BD2A33F8517113D0167" KeyPath="yes" Source="$(var.HarvestPath)\Firefox\nssckbi.dll" />
            </Component>
            <Component Id="cmp7CFA01BC432199B893E8C859BC95F98D" Directory="dir9D2ADA490F3958898B458C2E58B52500" Guid="*">
                <File Id="fil742F183845C34178531FB813E1F7E61B" KeyPath="yes" Source="$(var.HarvestPath)\Firefox\nssdbm3.dll" />
            </Component>
            <Component Id="cmp3E3E66EE10810FD023887B05664D54B1" Directory="dir9D2ADA490F3958898B458C2E58B52500" Guid="*">
                <File Id="fil5291E68C7F72C133B32C497EED338886" KeyPath="yes" Source="$(var.HarvestPath)\Firefox\omni.ja" />
            </Component>
            <Component Id="cmp1C71EC301F760A4E6A0CD5FBBF2101D8" Directory="dir9D2ADA490F3958898B458C2E58B52500" Guid="*">
                <File Id="filCE6C4309DF38A85CACA347D49C96FF0D" KeyPath="yes" Source="$(var.HarvestPath)\Firefox\plugin-container.exe" />
            </Component>
            <Component Id="cmpA3912655DB3604638494AF2EA31E905B" Directory="dir9D2ADA490F3958898B458C2E58B52500" Guid="*">
                <File Id="fil9B80A497B55C3F1C33E9095095D451F4" KeyPath="yes" Source="$(var.HarvestPath)\Firefox\plugin-hang-ui.exe" />
            </Component>
            <Component Id="cmp947EE143214133791ED1BCEBDE628981" Directory="dir9D2ADA490F3958898B458C2E58B52500" Guid="*">
                <File Id="fil8E175611D92D479AF4F1BD03DD498A02" KeyPath="yes" Source="$(var.HarvestPath)\Firefox\qipcap.dll" />
            </Component>
            <Component Id="cmp387B58D1B59CCD618E30C1228AF67817" Directory="dir9D2ADA490F3958898B458C2E58B52500" Guid="*">
                <File Id="fil45328AEDBEAA2CE124D67F6901EF3B85" KeyPath="yes" Source="$(var.HarvestPath)\Firefox\sandboxbroker.dll" />
            </Component>
            <Component Id="cmp648F93EF922BA96AC2FD95C206EDDD16" Directory="dir9D2ADA490F3958898B458C2E58B52500" Guid="*">
                <File Id="fil768AFB6496F417A23B567D9DF408B2F8" KeyPath="yes" Source="$(var.HarvestPath)\Firefox\softokn3.dll" />
            </Component>
            <Component Id="cmp1BAFDAC99691B6F579639BC734306336" Directory="dir9D2ADA490F3958898B458C2E58B52500" Guid="*">
                <File Id="fil64F76B0E4EC903E8482A3313A72DD55F" KeyPath="yes" Source="$(var.HarvestPath)\Firefox\xul.dll" />
            </Component>
            <Component Id="cmp40895E6FE8EC4FFA9CDEB2FB5DD15F20" Directory="dir0B7D401DE3233449E75F31A823BF5B99" Guid="*">
                <File Id="fil715FF750208BACE83BC7DCCF4BEB3FA2" KeyPath="yes" Source="$(var.HarvestPath)\fr\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmp7E6E8D87E380B22ED7E863FC841A2368" Directory="dir09632C6D20BFA94E2A24ED0E6D9B2C41" Guid="*">
                <File Id="filCD70EE978626DA4828A50601DEAE5556" KeyPath="yes" Source="$(var.HarvestPath)\hu\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmpED2DD5896F248BE55F55F7D303D3C421" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil873376CA2A3FB0F84C2411CED15C106A" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Anti Virus.ico" />
            </Component>
            <Component Id="cmpCEBE14E8CB8DF6D4DB964C604F4C52E5" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil7B0D51A58C760E23703EF3E8011830C3" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Apple.ico" />
            </Component>
            <Component Id="cmpC4484761964AFB973D742B67A2B4DFFB" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil1ED3A3A85443AB8D0433ACF1D913E016" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Backup.ico" />
            </Component>
            <Component Id="cmp75F908087E133D7E5632C2AED7151821" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="filE9E31F517253037124BD42C0B830308A" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Build Server.ico" />
            </Component>
            <Component Id="cmp1FEE635B776DFA8B857CF52387E93B93" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="filA9262D06955016AA04A76B15E611228A" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Database.ico" />
            </Component>
            <Component Id="cmpDD752B1D3920971301E59D0F4330E5B8" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil6A9F3BD0A4CA8EB392313F538160451D" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Domain Controller.ico" />
            </Component>
            <Component Id="cmp7529A80522BE2F489CE29A77CDE75563" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="filD387F7B3BA1F144C87CDF3F073F693BE" KeyPath="yes" Source="$(var.HarvestPath)\Icons\ESX.ico" />
            </Component>
            <Component Id="cmp98A4AAF5CE7D08D38B45DAAC292DAAE9" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="filE66B101D07CEC7355D5E27FD16F9D560" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Fax.ico" />
            </Component>
            <Component Id="cmpE7A35D214B596D7DED53C644415D383B" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil9800B5F2226ACF226E3A84F65CCB0EE6" KeyPath="yes" Source="$(var.HarvestPath)\Icons\File Server.ico" />
            </Component>
            <Component Id="cmp5099815041FF29F109B8B372E04C224D" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil9BA0B69CC0621ED0B96B84764537649C" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Finance.ico" />
            </Component>
            <Component Id="cmpFB1AAE5F37978B65BC890C43009B7479" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="filFAE0C68FF189D979F556914FA99D658B" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Firewall.ico" />
            </Component>
            <Component Id="cmpF8C16EB2F8E5F8C6E32A501AE9F091F0" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil76B8A4B03FF896FA3C086EFAF182B622" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Linux.ico" />
            </Component>
            <Component Id="cmp39A6084DEFDD6A242EB6F64ED37E343E" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil699120D8828E12D589A75E629BFAF24A" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Log.ico" />
            </Component>
            <Component Id="cmp14D7A735D9C40FAED5250CEAEDD1417D" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil979943C9EDEE8950816F5C4A73976571" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Mail Server.ico" />
            </Component>
            <Component Id="cmp576892BE7140AB928C8A4BBF16868C78" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil5D46D49178EB9D36AA45B5A32A6B185B" KeyPath="yes" Source="$(var.HarvestPath)\Icons\mRemote.ico" />
            </Component>
            <Component Id="cmpB2A85C7B04FB2075DDD83FD65A3D8119" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil7089D0DA6D3D72648762BA64369418F9" KeyPath="yes" Source="$(var.HarvestPath)\Icons\mRemoteNG.ico" />
            </Component>
            <Component Id="cmpAB7717112F26D1CD156E5291D682BE22" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil61DA7FB9F4D7361410850C2314F05B20" KeyPath="yes" Source="$(var.HarvestPath)\Icons\PowerShell.ico" />
            </Component>
            <Component Id="cmp72D990ECEF13F8280352A03E043F79BA" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil24BA6D3AC06B6909D0B00A10814E576F" KeyPath="yes" Source="$(var.HarvestPath)\Icons\PuTTY.ico" />
            </Component>
            <Component Id="cmp7C686FD24868DF636E058B7820ABD142" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil1CC32079F1DD2DB0FBD9DBA4AF7F08B1" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Remote Desktop.ico" />
            </Component>
            <Component Id="cmp43B9B03EAE26421AD5785AED6CC7B695" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil50C13A2996D9F2E68AA8472DF216BB84" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Router.ico" />
            </Component>
            <Component Id="cmp4A7190066C0FDAAE97B276A5AD23859E" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil8246077617D85C6F0EEFFD1246DE607A" KeyPath="yes" Source="$(var.HarvestPath)\Icons\SharePoint.ico" />
            </Component>
            <Component Id="cmp44C3B2CAEB323433EA33B7EC1A1DF883" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="filE4724A058834682D35A1D03229A192A6" KeyPath="yes" Source="$(var.HarvestPath)\Icons\SSH.ico" />
            </Component>
            <Component Id="cmpA80D6ED557A1172E9E25577657315D6E" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="filD20398CE846B212F67B77D4DDC63F075" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Switch.ico" />
            </Component>
            <Component Id="cmp3A5D8E911572BC9B0AED10E4E955162D" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil12CA3DA43ABD6FC62956584DBD774DFB" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Tel.ico" />
            </Component>
            <Component Id="cmpF003BC60462A8B74DC28F6E0C8C5C3C0" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil98C7293D55AC66939F08D2C6157572C2" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Telnet.ico" />
            </Component>
            <Component Id="cmp2878B414FF374FB0AA51C5BC23398133" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil2B090EAE9EF2F44CF2A3E7DAAF1105D4" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Terminal Server.ico" />
            </Component>
            <Component Id="cmp52E44780A0CAB8AC479BB15A5E8D608A" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil1D9838F8B338948432C2A7788ED75FA7" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Test Server.ico" />
            </Component>
            <Component Id="cmp5B31AD89D5988BF2650DE6C3E4DB6E08" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="filEDC891344B441EDF7B51D67BE7CFF4B8" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Virtual Machine.ico" />
            </Component>
            <Component Id="cmp828D4378DD0AF0425CBF0D2704879F09" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil6DD578D52D872E9BFFDFB56EA272118B" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Web Server.ico" />
            </Component>
            <Component Id="cmp88965407BC570EEF9E0E78748AA64EF3" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil20DFB622D98807BEAA0B349EDDEFD583" KeyPath="yes" Source="$(var.HarvestPath)\Icons\WiFi.ico" />
            </Component>
            <Component Id="cmp0F7C27C22955E885F3E4C68E0EC431E3" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="filA4656BC127CB163639788BF510F253A4" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Windows.ico" />
            </Component>
            <Component Id="cmp2DF86AFCC97AE4C0063FE45EBCFCB7FE" Directory="dir5E6DA158F27D9CA2AB915EC6AB53B383" Guid="*">
                <File Id="fil100CAAAF0BF4C3FB196087F29DA37CDE" KeyPath="yes" Source="$(var.HarvestPath)\Icons\Workstation.ico" />
            </Component>
            <Component Id="cmpCF1D4DD52581584CB9775277B2969302" Directory="dirB5B71807E9474A6ED7A421DAF6D9317F" Guid="*">
                <File Id="fil661D46FCD95364176089BD3D28019330" KeyPath="yes" Source="$(var.HarvestPath)\it\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmpCAE7C04B51FCDA44C75468EFEEF4747A" Directory="dir236726D31B8846E56F94A60B4BDA0D5D" Guid="*">
                <File Id="fil40181C01EA09FC8EA2E69024B65775C3" KeyPath="yes" Source="$(var.HarvestPath)\ja-JP\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmp0BAC93C0A0E70E5ACB66DC026BA8110E" Directory="dir84F2A679A7F20EDA03A198E92F9399E3" Guid="*">
                <File Id="fil0B91C6F2B565FA653A19ED0161ED07EC" KeyPath="yes" Source="$(var.HarvestPath)\ko-KR\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmp78FEDEE0F378D2F4F0D0F26E5AA4BAA7" Directory="dir5D4FF3A14A3EA47FCD6D9414E469A244" Guid="*">
                <File Id="filB5234976A684303D93EE2D709DAEF369" KeyPath="yes" Source="$(var.HarvestPath)\lt\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmpF3DD876818F39442E2739EF8AF18F465" Directory="dir54E7E449F697FA31B946B0D847BC12FC" Guid="*">
                <File Id="fil5D73E84534D2765C09BDC7EA52825053" KeyPath="yes" Source="$(var.HarvestPath)\nb-NO\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmp6A9C47E1A45A8195474C05BBE19E177A" Directory="dirAD9F3749BDE51B9EA3E808CC39488A46" Guid="*">
                <File Id="fil8B3155B48D8DBF01C2952E661E6E5C83" KeyPath="yes" Source="$(var.HarvestPath)\nl\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmp1A4ED188D2470BF1363EB5C9A17FC259" Directory="dir42A5D57151A6A3E9D965C69C82893176" Guid="*">
                <File Id="fil5DA9B161129D2361D3A60071DDE4214E" KeyPath="yes" Source="$(var.HarvestPath)\pl\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmpDEABACBE2FE4B638AF6271AEA9E2F8C9" Directory="dirC5F627279ECABE21145A844571EF9F74" Guid="*">
                <File Id="filC52A947A9955B1F51BDDC6B7BD5696AC" KeyPath="yes" Source="$(var.HarvestPath)\pt\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmp1DCD94595ED6192A198D0FC5405BB080" Directory="dir3CF6B6BC48181D29C167EF5DB7F05816" Guid="*">
                <File Id="fil5CD3DAE410339965F6CFF69171DA3DB4" KeyPath="yes" Source="$(var.HarvestPath)\pt-BR\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmpBEEC0A9A86E232D54D622D93F5131C44" Directory="dirC2C39C4108DCB584F8C8263BC70E73EB" Guid="*">
                <File Id="fil968308B8B6C2CE87C09E9BC4B33031B2" KeyPath="yes" Source="$(var.HarvestPath)\Resources\Themes\darcula.vstheme" />
            </Component>
            <Component Id="cmpC608083D47DDA64FF0C8054D6162281C" Directory="dirC2C39C4108DCB584F8C8263BC70E73EB" Guid="*">
                <File Id="fil0D7C7A7FFBC4E0CB9A73A3B5633BEDD5" KeyPath="yes" Source="$(var.HarvestPath)\Resources\Themes\vs2015blue.vstheme" />
            </Component>
            <Component Id="cmp5D35EC40FF552186BA1BBE67D2192FB7" Directory="dirC2C39C4108DCB584F8C8263BC70E73EB" Guid="*">
                <File Id="fil6D1B5F98211147BE4D3F3D172084736B" KeyPath="yes" Source="$(var.HarvestPath)\Resources\Themes\vs2015dark.vstheme" />
            </Component>
            <Component Id="cmpEAFC99D6C741C9B3CF2CF72BB8AC9392" Directory="dirC2C39C4108DCB584F8C8263BC70E73EB" Guid="*">
                <File Id="filEB7893C4FA39AAD99A777C1C2201A94A" KeyPath="yes" Source="$(var.HarvestPath)\Resources\Themes\vs2015light.vstheme" />
            </Component>
            
            <Component Id="cmpEF160F59CB17596B2DE3954FE52B3953" Directory="dir151BF9CFF17C424DB948D61798FF6623" Guid="*">
                <File Id="fil16D487B3E626DD8384EDE52A56BFAAC3" KeyPath="yes" Source="$(var.HarvestPath)\Resources\Tiles\VisualElements_150.png" />
            </Component>
            <Component Id="cmpDA32FB1899B21864026B60E8509E9284" Directory="dir151BF9CFF17C424DB948D61798FF6623" Guid="*">
                <File Id="fil5B95CC4D1081F21256EB03C046E83A94" KeyPath="yes" Source="$(var.HarvestPath)\Resources\Tiles\VisualElements_70.png" />
            </Component>
            <Component Id="cmp14F9A7840D91A07FE79D6C6258D5872E" Directory="dirF7C0BEA86C276F53E8C9E8E6B2629A9B" Guid="*">
                <File Id="fil84ABB736DDC19CD359E8850BB51959F7" KeyPath="yes" Source="$(var.HarvestPath)\ru\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmpF6021CFE1FD1DFC556CBEE9FB741CDED" Directory="dir54B0732D1EC7055747BB11A9069B5872" Guid="*">
                <File Id="fil20F7BEFB9BCBA1C600A7AA95F5C9756A" KeyPath="yes" Source="$(var.HarvestPath)\Schemas\mremoteng_confcons_v2_5.xsd" />
            </Component>
            <Component Id="cmp8AE0FF3EDDB42980FCF6444EEE77E327" Directory="dir54B0732D1EC7055747BB11A9069B5872" Guid="*">
                <File Id="fil96BE0C06583E95E1FCBC4B123F62F929" KeyPath="yes" Source="$(var.HarvestPath)\Schemas\mremoteng_confcons_v2_6.xsd" />
            </Component>
            <Component Id="cmp94B0CA4E5F2F6D28611A655BDB449E1E" Directory="dir54B0732D1EC7055747BB11A9069B5872" Guid="*">
                <File Id="filDD3B91C7B1FF8E22F8E658E542840D55" KeyPath="yes" Source="$(var.HarvestPath)\Schemas\mremoteng_confcons_v2_7.xsd" />
            </Component>
            <Component Id="cmpB902A64979524E0126DB594BA240DEB7" Directory="dir54B0732D1EC7055747BB11A9069B5872" Guid="*">
                <File Id="filED09F28F7EEE2FFFB9BF6657D70C9D98" KeyPath="yes" Source="$(var.HarvestPath)\Schemas\mremoteng_credrepo_list_v1_0.xsd" />
            </Component>
            <Component Id="cmp6FE9FEDBE5634AF395230BA8D500104A" Directory="dir54B0732D1EC7055747BB11A9069B5872" Guid="*">
                <File Id="fil07B6D1F679673392A00E25C468ED6A7F" KeyPath="yes" Source="$(var.HarvestPath)\Schemas\mremoteng_creds_v1_0.xsd" />
            </Component>
            <Component Id="cmp3574060B3152DDCCE44B3528A0C71B63" Directory="dir449D12A97ECE34898DFE89F1087779C9" Guid="*">
                <File Id="fil146F3F5A21FE54B5545684791AB50136" KeyPath="yes" Source="$(var.HarvestPath)\Themes\darcula.vstheme" />
            </Component>
            <Component Id="cmp10355C1CB059E65F1ED03458EADE7C5F" Directory="dir449D12A97ECE34898DFE89F1087779C9" Guid="*">
                <File Id="filCE7764B2C5A95183E805582F263BCC5F" KeyPath="yes" Source="$(var.HarvestPath)\Themes\vs2015blue.vstheme" />
            </Component>
            <Component Id="cmpF674F6C548EBF993B72FA4EBF5ADAC21" Directory="dir449D12A97ECE34898DFE89F1087779C9" Guid="*">
                <File Id="filA5A98FD5A7D4DEF6CDA6C3652E12EC66" KeyPath="yes" Source="$(var.HarvestPath)\Themes\vs2015dark.vstheme" />
            </Component>
            <Component Id="cmp785919C5C947C3DFF8751EAA846B5FA7" Directory="dir449D12A97ECE34898DFE89F1087779C9" Guid="*">
                <File Id="fil46DE91950AEE35EDBAF9606ACF6FE1C4" KeyPath="yes" Source="$(var.HarvestPath)\Themes\vs2015light.vstheme" />
            </Component>
            <Component Id="cmp64D2ADC91AE3713E639B495CC0518A7F" Directory="dirF50F8AE1B4079411641D2CA28D569A6E" Guid="*">
                <File Id="fil74F215747A8E72D357A05798BFC0319D" KeyPath="yes" Source="$(var.HarvestPath)\tr-TR\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmp17BAEE5D2157190600C56FF82FE3784B" Directory="dir09CC4E618379FE7D9EB8E064B61C997C" Guid="*">
                <File Id="fil659BA500C0BF779A24E8F4669C65E7CA" KeyPath="yes" Source="$(var.HarvestPath)\uk\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmp214DB5E4D7F32338E1E8A139C8BCA66B" Directory="dir7615CEE1531630E53F5B99A187D27DF9" Guid="*">
                <File Id="fil878C2816E449E0F6C9F4E44E3A06ED4D" KeyPath="yes" Source="$(var.HarvestPath)\zh-CN\mRemoteNG.resources.dll" />
            </Component>
            <Component Id="cmp080BF5CEB7B5881A5C147B8EF586143E" Directory="dir8B12BA0D447ED118A459E1723FCB6A85" Guid="*">
                <File Id="fil9330E2B75901D743DEB8CF2F5A058247" KeyPath="yes" Source="$(var.HarvestPath)\zh-TW\mRemoteNG.resources.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir61B122782F2749F187324C134F6498C1">
            <Directory Id="dir151BF9CFF17C424DB948D61798FF6623" Name="Tiles" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir61B122782F2749F187324C134F6498C1">
            <Directory Id="dirC2C39C4108DCB584F8C8263BC70E73EB" Name="Themes" />
        </DirectoryRef>
    </Fragment>
</Wix>