<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <ComponentGroup Id="CG.ProjectInfoFiles" Directory="INSTALLDIR">
      <Component Id="C.Changelog" Guid="*">
        <File Id="ChangelogFile" Name="Changelog.txt" Source="$(var.SolutionDir)CHANGELOG.TXT" KeyPath="yes" />
      </Component>
      <Component Id="C.Credits" Guid="*">
        <File Id="CreditsFile" Name="Credits.txt" Source="$(var.SolutionDir)CREDITS.TXT" KeyPath="yes" />
      </Component>
      <Component Id="C.License" Guid="*">
        <File Id="LicenseFile" Name="License.txt" Source="$(var.SolutionDir)COPYING.TXT" KeyPath="yes" />
      </Component>
      <Component Id="C.Readme" Guid="*">
        <File Id="ReadmeFile" Name="Readme.txt" Source="$(var.SolutionDir)README.TXT" KeyPath="yes" />
      </Component>
    </ComponentGroup>
	</Fragment>
</Wix>