/* COMMON STUFF */

body
{
	background-color: #FFFFFF;
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

body, td, th
{
	font-family: Verdana, Segoe UI, Segoe UI, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
}

img
{
	border: none;
}

ul
{
	list-style: square;
}



/* HEADINGS */

.heading1
{
	font-family: Segoe UI, Verdana, Segoe UI, Helvetica, sans-serif;
	font-size: 16px;
	color: Black;
}
.heading1 a:link
{
	color: Black;
	text-decoration: none;
}
.heading1 a:visited
{
	color: Black;
	text-decoration: none;
}
.heading1 a:hover
{
	color: Black;
	text-decoration: none;
	border-bottom: 5px solid #e9e9e9;
}
	
.heading2
{
	font-family: Segoe UI, Verdana, Segoe UI, Helvetica, sans-serif;
	font-size: 15px;
	color: Black;
}

.heading3
{
	font-family: Segoe UI, Verdana, Segoe UI, Helvetica, sans-serif;
	font-size: 14px;
	color: Black;
}

.heading4
{
	font-family: Segoe UI, Verdana, Segoe UI, Helvetica, sans-serif;
	font-size: 13px;
	color: Black;
}

.heading5
{
	font-family: Segoe UI, Verdana, Segoe UI, Helvetica, sans-serif;
	font-size: 12px;
	color: Black;
}




/* LINKS */

a:link
{
	color: #5d6b70;
	text-decoration: none;
}

a:visited
{
	color: #5d6b70;
	text-decoration: none;
}

a:hover
{
	color: Black;
	text-decoration: underline;
}




/* TABLES */

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th,td {
    padding: 5px;
}

th {
    background-color: lightgrey;
    text-align: left;
}


/* MISC STYLES */

.Code
{
	padding-right: 5px;
	padding-left: 5px;
	color: #000000;
	font-family: 'Courier New' , Monospace;
	background-color: #C1C1C1;
}

.monospace {
    white-space: nowrap;
    font-family: 'Courier New', monospace;
}

.nowrap {
    white-space: nowrap
}
