<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net46" />
  <package id="NUnit" version="3.9.0" targetFramework="net46" />
  <package id="NUnit.Console" version="3.7.0" targetFramework="net46" />
  <package id="NUnit.ConsoleRunner" version="3.7.0" targetFramework="net46" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.6.0" targetFramework="net46" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.7.0" targetFramework="net46" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.6.0" targetFramework="net46" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.3" targetFramework="net46" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.7.0" targetFramework="net46" />
  <package id="NUnit.Runners" version="3.7.0" targetFramework="net46" />
  <package id="SpecFlow" version="2.2.1" targetFramework="net46" />
  <package id="SpecFlow.NUnit" version="2.2.1" targetFramework="net46" />
  <package id="SpecFlow.NUnit.Runners" version="2.2.1" targetFramework="net46" />
</packages>