<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <?include $(sys.CURRENTDIR)Includes\Config.wxi?>
	<Fragment>
    <CustomAction Id="CheckIfLegacyVersionInstalled" Return="check" Execute="immediate" DllEntry="IsLegacyVersionInstalled" BinaryRef="CustomActions.CA.dll" />
	</Fragment>
  <Fragment>
    <CustomAction Id="UninstallLegacyVersion" Return="check" Execute="immediate" DllEntry="UninstallLegacyVersion" BinaryRef="CustomActions.CA.dll" />
  </Fragment>
</Wix>