
body {
  --themecolor: #307EB3;
  --linkcolor: #343131;
  --menulinkcolor: #82ADFF;
  --sidebarcolor: #458BBB;
  color: var(--themecolor);
}

.wy-nav-content {
  max-width: none;
  background-color: #E9ECEF;
}

.wy-side-nav-search {
  background-color: var(--themecolor);
}
.wy-menu wy-menu-vertical {
  background-color: var(--sidebarcolor);
}
.wy-nav-top {
  background-color: var(--themecolor);
}

.caption-text {
  color: var(--themecolor);
}

.reference_internal {
  color: var(--themecolor);
}

a:link {
  color: var(--linkcolor);
}

li a {
  color: var(--menulinkcolor);
  text-decoration: none;
}

a:visited {
  color: var(--linkcolor);
}

a:hover {
  color: var(--linkcolor);
}

a:active {
  color: var(--linkcolor);
}

a {
  color: var(--linkcolor);
  text-decoration: underline;
}
