{% include head.html %}
    <body>
        {% include navigation.html %}
        <div class='jumbotron'>
            <div class='container text-center'>
                <h1>mRemoteNG</h1>
                <p>Multi-Remote Next Generation</p>
                <ul class='list-inline'>
                    <li><a class='github-button' href='{{ site.github.repository_url }}' data-count-href='{{ site.github.repository_url }}/stargazers' data-count-api='/repos/{{ site.github.repository_nwo }}#stargazers_count' data-count-aria-label='# stargazers on GitHub' aria-label='Star {{ site.github.repository_nwo }} on GitHub'>Star</a></li>
                    <li><a href='https://twitter.com/mRemoteNG' class='twitter-follow-button' data-show-count='true' data-show-screen-name='false'>Follow @mRemoteNG</a></li>
                </ul>
            </div>
        </div>
        <div class='container'>
            {{ content }}
        </div>
        {% include footer.html %}
    </body>
</html>
