{% include head.html %}
<body>
	{% include navigation.html %}
	{% include jumbotron.html %}
	<div class='container'>
		{% assign author = site.data.authors[page.author] %}
		<div class='media'>
			<img class='d-flex mr-3 media-object' src='{{ author.avatar }}'>
			<article class='media-body'>
				<header>
					<h3 class='mt-0'>{{ page.title }}</h3>
					<div>
						<strong>{{ author.name }}</strong> | <time datetime='{{ date: "%Y-%m-%d" }}' pubdate>{{ page.date | date: '%B %-d, %Y'}}</time>
					</div>
					<div class='text-justify'>
						{{ content }}
					</div>
				</header>
			</article>
		</div>
		<div class='btn-group float-right' role='group'>
			{% if page.previous %}
			<a class='btn btn-secondary' href='{{ site.baseurl }}{{ page.previous.url }}'>Previous</a>
			{% else %}
			<span class='btn btn-secondary disabled'>Previous</span>
			{% endif %}
			{% if page.next %}
			<a class='btn btn-secondary' href='{{ site.baseurl }}{{ page.next.url }}'>Next</a>
			{% else %}
			<span class='btn btn-secondary disabled'>Next</span>
			{% endif %}
		</div>
	</div>
	{% include footer.html %}
</body>
</html>
