<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(sys.CURRENTDIR)Includes\Config.wxi?>
  <Product Name="$(var.ProductNameWithPlatform)" Manufacturer="Next Generation Software" Version="$(var.ProductVersion)"
           Id="$(var.ProductCode)" 
           UpgradeCode="$(var.UpgradeCode)" 
           Language="$(var.ProductLanguage)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Property Id="ARPPRODUCTICON" Value="mRemoteNG.ico" />
    <Property Id="ARPHELPLINK" Value="http://www.mremoteng.org" />
    <Property Id="MAINEXE" Value="$(var.ExeProcessName)" />
    <Icon Id="mRemoteNG.ico" SourceFile="Resources\mRemoteNG.ico" />
    
    
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="APPLICATIONROOTDIRECTORY" Name="$(var.ProductName)" />
      </Directory>
      
      <Directory Id="DesktopFolder" Name="Desktop" />
      
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.ProductName)"/>
      </Directory>
    </Directory>
    
    
    <Feature Id="MinimalFeature" Title="Installer" Level="0">
      <ComponentGroupRef Id="MandatoryComponents" />
    </Feature>
    
    <Feature Id="CompleteFeature" Title="Installer" Level="1">
      <ComponentGroupRef Id="MandatoryComponents" />
      <ComponentRef Id="C.PuttyNGFile" />
      <ComponentRef Id="C.DesktopShortcut" />
      <ComponentRef Id="C.ApplicationStartMenuShortcut" />
    </Feature>
  </Product>
</Wix>