<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(sys.CURRENTDIR)Includes\Config.wxi?>
  <Product Name="$(var.ProductNameWithPlatform)" Manufacturer="Next Generation Software" Version="$(var.ProductVersion)"
           Id="$(var.ProductCode)" 
           UpgradeCode="$(var.UpgradeCode)" 
           Language="$(var.ProductLanguage)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Property Id="ARPPRODUCTICON" Value="mRemoteNG.ico" />
    <Property Id="ARPHELPLINK" Value="http://www.mremoteng.org" />
    <Property Id="MAINEXE" Value="$(var.ExeProcessName)" />
    <Property Id="APPLICATIONROOTDIRECTORY">
      <RegistrySearch Id='AcmeFoobarRegistry' Type='raw' Root='HKLM' Key='Software\mRemoteNG' Name='InstallDir' />
    </Property>
    <Icon Id="mRemoteNG.ico" SourceFile="Resources\mRemoteNG.ico" />
    
    
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="APPLICATIONROOTDIRECTORY" Name="$(var.ProductName)" />
      </Directory>
      
      <Directory Id="DesktopFolder" Name="Desktop" />
      
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.ProductName)"/>
      </Directory>
    </Directory>

    <Feature Id="F.Complete" Title="Complete" Display="expand" AllowAdvertise="no" Level="1">
      <Feature Id="F.MinimalFeature" Title="$(var.ProductName)" Absent="disallow" ConfigurableDirectory="APPLICATIONROOTDIRECTORY" Level="1">
        <ComponentGroupRef Id="MandatoryComponents" Primary="yes" />
        <ComponentGroupRef Id="CG.ProjectInfoFiles" Primary="yes" />
      </Feature>

      <Feature Id="F.PuttyNG" Title="PuTTYNG" Absent="allow" AllowAdvertise="no" Level="1">
        <ComponentRef Id="C.PuttyNGFile" Primary="yes" />
      </Feature>

      <Feature Id="F.DesktopShortcut" Title="Desktop Shortcut" Absent="allow" AllowAdvertise="no" Level="1">
        <ComponentRef Id="C.DesktopShortcut" Primary="yes" />
      </Feature>

      <Feature Id="F.ApplicationStartMenuShortcut" Title="Start menu shortcut" Absent="allow" AllowAdvertise="no" Level="1">
        <ComponentRef Id="C.ApplicationStartMenuShortcut" Primary="yes" />
      </Feature>
    </Feature>

    
    <UIRef Id="WixUI_FeatureTree"/>
    <WixVariable Id="WixUILicenseRtf" Value="Resources\License.rtf" />
    <WixVariable Id="WixUIDialogBmp" Value="Resources\welcome.bmp" />
    <WixVariable Id="WixUIBannerBmp" Value="Resources\header.bmp" />
  </Product>
</Wix>