<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Name="mRemoteNG" Manufacturer="Next Generation Software"
           Version="1.74.0001"
           Id="4CC5D75F-11E0-4143-8876-DA2FD51D06D2" 
           UpgradeCode="dd678a54-ca75-4791-8dfe-d818095684f8"
           Language="1033">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="Installer" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="mRemoteNG" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			 <Component Id="MainExecutable" Guid="F608D4DE-4B65-4E64-9251-682832B398B8">
         <File Id="mRemoteNGExe" Name="mRemoteNG.exe"></File>
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>